@charset "utf-8";
/* custom */
*html {background-image: url(about:blank); background-attachment: fixed;}
body {background: #fff;}
body, input, select, textarea {color: #333; font-family: 微软雅黑;}
a {color: #333; text-decoration: none;}
a:hover {color: #f30; text-decoration: underline;}
.sel {background: #fff url(ipt.png);
    border: solid 1px #90c8f4;
    height: 31px;
    border-radius: 4px;}
.ipt {    background: #fff url(ipt.png);
    padding: 7px;
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.ipt:hover{border:1px solid #90c8f4;}
.btn {    background: #35a9f2;
    border-radius: 4px;
    border: 1px solid #35a9f2;
    color: #fff;
    height: 30px;
    padding: 0 5px;
    _padding: 0 3px;
    margin: 5px}
.btn:hover{cursor:pointer;opacity:0.7;color:#fff;}
.btn.focus, .btn:focus, .btn:hover{color:#fff;}
.tips {color: #999; padding-left: 5px;}
/* wrapper */
#wrapper {margin: 0 auto; width: 100%;}
/* title */
.title {background: #fff; border-bottom: solid 1px #3DB3F7; display: block;height: 41px;}
.title em {background: #3DB3F7;
    border: solid 1px #3DB3F7;
    border-bottom: 0;
    color: #fff;
    float: left;
    height: 33px;
    line-height: 33px;
    margin: 7px 0 0 10px;
    padding: 0px 10px;
    border-radius: 5px 5px 0px 0px;}
.title span {display: block; float: left; height: 28px; font-weight: normal; line-height: 27px; margin: 7px 0 0 10px; padding: 0px 10px;}
/* toolbar */
.toolbar {background: rgba(194, 236, 255, 0.17);border-bottom: solid 1px rgba(194, 236, 255, 0.17);padding: 5px;padding: 5px;}
/*search*/
.search {padding-top: 3px; position: absolute; right: 5px; z-index: 100;}
/* listbox */
.listbox {padding: 8px;}
.listbox table tr td  img{max-width:16px;max-height:16px;overflow:hidden;}
.listbox table {}
.listbox table tr{height: 35px;}
.listbox table tr th {background: url(../images/title.png) repeat-x; height: 30px;text-align: center;}
.listbox table tr td {background: #fff; border-bottom: solid 1px #ececec; height: 30px; text-align: center;}
.listbox table tr .ltext {text-align: left;}
.listbox table tr .data {font-size: 10px;}

.gre {color: #080;}
.red {color: #f00;}
.ora {color: #f30;}
/* pagebox */
.pagebox {display: block; padding: 8px;margin: 0 auto;width: 700px}
.total_page, .jump_page {background: #3DB3F7; border: solid 1px #3DB3F7; color: #fff; display: block; float: left; margin-right: 5px; padding: 9px 17px;}
.first_page, .last_page, .prev_page, .next_page, .pages {background: #ffffff;
    border: 1px solid #eaeaea;
    color: #777777;
    display: block;
    float: left;
    margin-right: 5px;
    padding: 9px 17px;
    text-decoration: none;
    margin-bottom: 20px;}
.pagebox a:hover{background:#3DB3F7;color:#fff;}
.current {background: #3DB3F7; border: solid 1px #3DB3F7; color: #fff; display: block; float: left; margin-right: 5px; padding:9px 17px;}
/* formbox */
.formbox {padding-top: 10px;}
.formbox table {}
.formbox table tr th {font: 12px normal; padding: 12px 0; text-align: right;width: 150px;}
.formbox table tr td {line-height: 25px;}
.formbox .btnbox {height: 40px;}
/*按钮盒子*/
.btn-box{border:1px solid red;}