<footer class="footer">
  <div class="am-container">
    <div class="am-g">
      <div class="am-u-sm-12 am-u-md-7 am-u-lg-8">
        <ul class="fo-nav am-cf">
{$getmenu(<li><a href="%主菜单链接%" rel="nofollow" title="%主菜单标题%">%主菜单标题%</a></li>,,)}
</ul>
        <div class="fo-bq"> {@SL_联系方式2}<br>
         {@SL_版权文字} {@SL_统计代码}</div>
      </div>
      <div class="am-u-md-5 am-u-lg-4 am-cf">
        <div class="fo-ewm"> <img src="{@SL_安装目录}{@SL_微信二维码}" width="95" height="95" alt="">
          <p>wechat</p>
        </div>
        <div class="fo-lx am-cf">
          <p class="am-cf"><a href="javascript:void(0)" rel="nofollow">Contact Us</a></p>
          <div class="fo-but"><a href="{@SL_微博主页}" target="_blank" rel="nofollow"><span class="bounce-top"><img src="{@SL_安装目录}template/s95/style/images/weib.png" alt=""></span>weibo</a></div>
          
          
          
          
        </div>
      </div>
    </div>
    <div class="am-g">
      <div class="am-u-sm-12 w-link">Links：
{$link_list(<a href="%友链网址%" target="_blank" title="%友链网站%">%友链网站%</a>,0)}
</div>
    </div>
  </div>
</footer>
<!--[if lt IE 9]>
<script src="/style/js/jquery.min.js"></script>
<script src="/style/js/modernizr.js"></script>
<script src="/style/js/amazeui.ie8polyfill.min.js"></script>
<![endif]--> 
<script src="{@SL_安装目录}template/s95/style/js/amazeui.js"></script> 
<script src="{@SL_安装目录}template/s95/style/js/jquery.SuperSlide.2.1.1.js"></script> 
<script src="{@SL_安装目录}template/s95/style/js/main.js"></script> 