.SlidingVerify {
	position: relative;
	width: 100%;
	height: 32px;
	background-color: #EFEFEF;
}

.SlidingVerify>div:nth-of-type(1) {
	width: 0px;
	height: 32px;
	background-color: #7ac23c;
	cursor: default;
}

.SlidingVerify>div:nth-of-type(2) {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	font-size: 14px;
	text-align: center;
	color: #333;
	height: 32px;
	line-height: 30px;
	cursor: default;
}

.SlidingVerify>div:nth-of-type(3) {
	position: absolute;
	top: 0;
	left: 0;
	width: 32px;
	height: 32px;
	text-align: center;
	color: #CCCCCC;
	line-height: 30px;
	cursor: pointer;
	background-color: #FFFFFF;
	background-image: url(../img/border32x32.png);
}