@font-face {font-family: 'iconfont';
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfontd41d.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}


.icon-Untitled2:before { content: "\e601"; }

.icon-home:before { content: "\e64d"; }

.icon-locati1o111n:before { content: "\e652"; }

.icon-book:before { content: "\e656"; }

.icon-gear:before { content: "\e657"; }

.icon-shouji:before { content: "\e658"; }

.icon-jia:before { content: "\e65a"; }

