{include file="index/header" /}
<link href="{$domain}public/common/uploadify/uploadify.css" type="text/css" rel="stylesheet">
<link href="{$domain}public/common/datetimepicker/jqueryui/jquery-ui.min.css" type="text/css" rel="stylesheet">
<div class="row bg-info text-center">
    <h4>{:lang('Personal information')}</h4>
</div><br>
<div class="container-fluid" style="min-height: 800px;">
    <div class="row">
        <form method="post" action="">
            <h4>{:lang('With')}&nbsp;<b><span class="text-danger">*</span></b>&nbsp;{:lang('are required')}</h4>
            <div class="form-group">
                <label>{:lang('Nickname')}：</label>
                <input type="text" class="form-control" name="user_nicename" value="{$data.user_nicename}" placeholder="{:lang('Nickname')}">
            </div>
            <div class="form-group">
                <label>{:lang('Gender')}：</label>
                <select class="form-control" name="sex">
                    <option value="0"{if condition="$data.sex eq 0"} selected{/if}>{:lang('Secrecy')}</option>
                    <option value="1"{if condition="$data.sex eq 1"} selected{/if}>{:lang('Male')}</option>
                    <option value="2"{if condition="$data.sex eq 2"} selected{/if}>{:lang('Female')}</option>
                </select>
            </div>
            <div class="form-group">
                <label>{:lang('Birthday')}：</label>
                <input type="text" class="form-control" name="birthday" value="{$data.birthday}" id="datepicker">
            </div>
            <div class="form-group">
                <label>{:lang('E-mail')}：&nbsp;<b><span class="text-danger">*</span></b></label>
                <input type="email" class="form-control" name="email" value="{$data.user_email}" placeholder="{:lang('E-mail')}">
            </div>
            <div class="form-group">
                <label>{:lang('Personal URL')}：</label>
                <input type="text" class="form-control" name="user_url" value="{$data.user_url}" placeholder="http://">
            </div>
            <div class="form-group">
                <label>{:lang('Signature')}：</label>
                <textarea class="form-control" name="signature" rows="3">{$data.signature}</textarea>
            </div>
            <div class="form-group">
                <label>{:lang('Head portrait')}：</label>
                <img src="{$domain}public/common/images/headicon_128.png" class="img-thumbnail" id="avatarImg" width="140">
                <input type="hidden" value="{$data.avatar}" name="avatar" id="avatar">
                <div id="upload"></div>
            </div>
            <div class="text-center">
                <input type="hidden" name="verification" value="{$verification}">
                <button type="submit" class="btn btn-default">{:lang('Save')}<span class="hidden">&nbsp;<img src="{$domain}public/common/images/zhixing.gif" width="16" height="16"></span></button>
            </div>
        </form>
    </div>
</div><br>
<div class="hidden" id="webroot">{$domain}</div>
<div class="hidden" id="buttonText">{:lang('Select Image')}</div>
<script type="text/javascript" src="{$domain}public/common/uploadify/jquery.uploadify.js"></script>
<script src="{$domain}public/common/datetimepicker/jqueryui/jquery-ui.min.js"></script>
<script src="{$domain}public/common/js/personal.js"></script>
{include file="index/footer" /}