{include file="index/header" /}
<div class="row bg-info text-center">
    <h4>{:lang('My collection')}</h4>
</div><br>
<div class="container-fluid" style="min-height: 800px;">
    <div class="row">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>{:lang('Title')}</th>
                    <th>{:lang('Description')}</th>
                    <th>{:lang('Collection time')}</th>
                    <th>{:lang('Operation')}</th>
                </tr>
                </thead>
                <tbody>
                {volist name="data" id="vo"}
                <tr>
                    <td><a href="{$domain}{$root}{$vo.url}" target="_blank">{$vo.title}</a></td>
                    <td>{$vo.description}</td>
                    <td>{$vo.createtime}</td>
                    <td>
                        <input type="hidden" value="{$vo.id}">
                        <a href="#!" class="shanchu">{:lang('Delete')}<span class="hidden">&nbsp;<img src="{$domain}public/common/images/zhixing.gif" width="16" height="16"></span></a>
                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>
        </div>
        {$data->render()}
    </div>
</div>
<div class="hidden" id="verification">{$verification}</div>
<script src="{$domain}public/common/js/shoucang.js"></script>
{include file="index/footer" /}