{include file="public/header" /}



<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>{$Think.lang.ds_adminlog}</h3>
                <h5></h5>
            </div>
            {include file="public/admin_items" /}
        </div>
    </div>

    <form method="get" name="formSearch" id="formSearch">
        <div class="ds-search-form">
            <dl>
                <dt>{$Think.lang.admin_log_man}</dt>
                <dd><input class="txt" name="admin_name" value="{$Request.get.admin_name}" type="text"></dd>
            </dl> 
            <dl>
                <dt>{$Think.lang.admin_log_dotime}</dt>
                <dd><input class="txt date" type="text" value="{$Request.get.time_from}" id="time_from" name="time_from">
                    <label for="time_to">~</label>
                    <input class="txt date" type="text" value="{$Request.get.time_to}" id="time_to" name="time_to"/>
                </dd> 
            </dl>
            <div class="btn_group">
                <a href="javascript:document.formSearch.submit();" class="btn " title="{$Think.lang.ds_query}">{$Think.lang.ds_query}</a>
                {if $filtered}
                <a href="{:url('Adminlog/loglist')}" class="btn btn-default" title="{$Think.lang.ds_cancel}">{$Think.lang.ds_cancel}</a>
                {/if}
                <a class="btn btn-mini" href="javascript:export_xls('{:url('Adminlog/export_step1')}')"><span>{$Think.lang.ds_export}Excel</span></a>
            </div>
        </div>
    </form>

    <div class="explanation" id="explanation">
        <div class="title" id="checkZoom">
            <h4 title="{$Think.lang.ds_explanation_tip}">{$Think.lang.ds_explanation}</h4>
            <span id="explanationZoom" title="{$Think.lang.ds_explanation_close}" class="arrow"></span>
        </div>
        <ul>
            <li>{$Think.lang.admin_log_tips2}</li>
        </ul>
    </div>


    <table class="ds-default-table">
        <thead>
            <tr class="thead">
                <th></th>
                <th>{$Think.lang.admin_log_man}</th>
                <th>{$Think.lang.admin_log_do}</th>
                <th class="align-center">{$Think.lang.admin_log_dotime}</th>
                <th class="align-center">IP</th>
                <th class="align-center">URL</th>
            </tr>
        </thead>
        <tbody>
            {notempty name="adminlog_list"}
            {foreach name="adminlog_list" item="v"}
            <tr class="hover">
                <td class="w24">
                    <input type="checkbox" class="checkitem" value="{$v.adminlog_id}">
                </td>
                <td>{$v.admin_name}</td>
                <td>{$v.adminlog_content}</td>
                <td class="align-center">{$v.adminlog_time|date="Y-m-d H:i:s",###}</td>
                <td class="align-center">{$v.adminlog_ip}</td>
                <td class="align-center">{$v.adminlog_url}</td>
            </tr>
            {/foreach}
            {else}
            <tr class="no_data">
                <td colspan="10">{$Think.lang.ds_no_record}</td>
            </tr>
            {/notempty}
        </tbody>
        <tfoot>
            {notempty name="adminlog_list"}
            <tr class="tfoot">
                <td><input type="checkbox" class="checkall" id="checkallBottom" name="chkVal"></td>
                <td colspan="16"><label for="checkallBottom">{$Think.lang.ds_select_all}</label>
                    &nbsp;&nbsp;<a href="JavaScript:void(0);" class="btn btn-small" onclick="submit_delete_batch()"><span>{$Think.lang.ds_del}</span></a>
                </td>
            </tr>
            {/notempty}
        </tfoot>
    </table>
    {$show_page}

</div>

<script type="text/javascript">
    $(function () {
        $('#time_from').datepicker({dateFormat: 'yy-mm-dd'});
        $('#time_to').datepicker({dateFormat: 'yy-mm-dd'});
    });
    function submit_delete(ids_str){
        _uri = ADMINSITEURL+"/Adminlog/list_del.html?adminlog_id=" + ids_str;
        dsLayerConfirm(_uri,'{$Think.lang.ds_ensure_del}');
    }
</script>