{include file="public/header" /}


<div class="page">
    
    <form method="get" name="formSearch">
        <div class="ds-search-form">
            <dl>
                <dt>{$Think.lang.ds_state}</dt>
                <dd>
                    <select name="pintuangroup_state">
                        {notempty name="pintuangroup_state_array"}
                        {foreach name="pintuangroup_state_array" item="val"}
                        <option value="{$key}" {if $key==$Request.get.pintuangroup_state}selected{/if}>{$val}</option>
                        {/foreach}
                        {/notempty}
                    </select>
                    <input name="pintuan_id" value="{$Request.param.pintuan_id}" type="hidden"/>
                </dd>
            </dl>
            <div class="btn_group">
                <a href="javascript:document.formSearch.submit();" class="btn" title="{$Think.lang.ds_query}">{$Think.lang.ds_query}</a>
                {if $filtered}
                <a href="{:url('Promotionpintuan/pintuan_manage',['pintuan_id'=>$Request.param.pintuan_id])}" class="btn btn-default" title="{$Think.lang.ds_cancel}">{$Think.lang.ds_cancel}</a>
                {/if}
            </div>
        </div>
    </form>
    
    
    
    <!-- 列表 -->
    <form id="list_form" method="post">
        <table class="ds-default-table">
            <thead>
            <tr class="thead">
                <th width="300"><span>{$Think.lang.pintuangroup_starttime}</span></th>
                <th width="240"><span>{$Think.lang.pintuangroup_state}</span></th>
                <th class="align-center" width="120"><span>{$Think.lang.pintuangroup_joined}/{$Think.lang.pintuangroup_limit_number}</span></th>
                <th class="align-center" width="120"><span>{$Think.lang.pintuangroup_headid}</span></th>
                <th class="align-center" width="120"><span>{$Think.lang.pintuanorder}</span></th>
            </tr>
            </thead>
            <tbody id="treet1">
            {notempty name="pintuangroup_list"}
            {foreach name="pintuangroup_list" item="val"}
            <tr class="hover">
                <td>{$val.pintuangroup_starttime|date="Y-m-d H:i",###}</td>
                <td>{$val.pintuangroup_state_text}({$val.pintuangroup_limit_hour}小时/{$val.pintuangroup_limit_number}人)</td>
                <td>{$val.pintuangroup_joined}/{$val.pintuangroup_limit_number}</td>
                <td>{$val.member_name}</td>
                <td>
                    {foreach name="val.order_list" item="order"}
                    <a href="{:url('Order/show_order',['order_id'=>$order.order_id])}" target="_blank">{$order.order_sn}</a><br/>
                    {/foreach}
                </td>
            </tr>
           {/foreach}
            {else /}
            <tr class="no_data">
                <td colspan="16">{$Think.lang.ds_no_record}</td>
            </tr>
            {/notempty}
            </tbody>
        </table>
        {$show_page}
    </form>

</div>
    
    