<!DOCTYPE html>
<html>
<head>
<style type="text/css">
html {word-wrap: break-word;}
body {font: 14px arial, verdana, sans-serif; line-height: 25px; margin: 0; padding: 8px 10px;}
pre {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap; 
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}
</style>
</head>

<body>
<table cellpadding="0" cellspacing="0" width="100%" style="font-family: verdana, arial; margin: 0 auto; width: 650px;">
	<tr>
		<td style="background: #08c; color: #fff; font: bold 14px normal; line-height: 35px;">&nbsp;&nbsp;您提交在<{$site_name}>的网站已通过审核！</td>
	</tr>
	<tr>
		<td style="border: solid 1px #ccc; font-size: 13px; line-height: 180%; padding: 20px;">
您好！<br>
您提交在<{$site_name}>的网站：<{$web_name}>， 已通过我们的审核！<br>收录地址：<a href="<{$site_link}>" target="_blank"><{$site_link}></a><br><br>附：如果您还没有使用我们提供的友情链接代码，我们建议您尽快加上！这样做的好处是：当网友点击了您已经插入在贵站页面里的友情链接，则贵站在我们的分类目录里自动靠前排一名，点击越多排名越靠前！<br><br>
本站网址：<a href="<{$site_url}>" target="_blank"><{$site_url}></a><br>
		</td>
	</tr>
	<tr>
		<td style="background: #333; color: #fff; font-size: 12px; line-height: 180%; padding: 10px;">请注意：此邮件系 <a href="<{$site_url}>" target="_blank" style="color: #fff;"><{$site_name}></a> 自动发送，请勿直接回复。<br>如果此邮件不是您请求的，请忽略并删除！</td>
	</tr>
</table>
</body>
</html>