<link href="/public/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<link href="/public/layui/css/layui.css" rel="stylesheet" type="text/css" />
<link href="/public/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="/public/js/treeview.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="/public/js/jquery.min.js"></script>
<script src="/public/bootstrap/js/bootstrap.min.js"></script>
<script src="/public/layui/layui.js" charset="utf-8"></script>


<!--引入webuploader CSS-->
<link rel="stylesheet" type="text/css" href="/public/webuploader/webuploader.css">

<!--引入webuploader JS-->
<script type="text/javascript" src="/public/webuploader/webuploader.js"></script>

<script type="text/javascript" src="/public/js/jquery.treeview.js"></script>
<script type="text/javascript" src="/public/editor/kindeditor-min.js"></script>
<script type="text/javascript" src="/public/editor/lang/zh_CN.js"></script> 

<!-- <link href="/public/assets/css/admin.css" rel="stylesheet" type="text/css" /> -->
<link href="/public/admin/skin/css/global.css" rel="stylesheet" type="text/css" />
<link href="/public/admin/skin/css/iframe.css" rel="stylesheet" type="text/css" />
<link href="/public/admin/skin/css/page.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="/public/admin/skin/js/admin.js"></script>
<link rel="shortcut icon" href="favicon.ico">


