{include file="public/header" /}
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>{$Think.lang.ds_inviter_set}</h3>
                <h5></h5>
            </div>
            {include file="public/admin_items" /}
        </div>
    </div>
  <div class="fixed-empty"></div>
  <form method="get" name="formSearch" id="formSearch">
      <div class="ds-search-form">
            <dl>
                <dt>{$Think.lang.goods_name}</dt>
                <dd><input type="text" value="{$Request.get.goods_name|default=''}" name="goods_name" id="goods_name" class="txt"></dd>
            </dl>
            <div class="btn_group">
                 <a href="javascript:void(0);" id="dssubmit" class="btn " title="{$Think.lang.ds_query}">{$Think.lang.ds_query}</a>     
                 <a href="{:url('Inviter/goods')}" class="btn btn-default" title="{$Think.lang.ds_cancel}">{$Think.lang.ds_cancel}</a>
            </div>
        </div>
  </form>
  
  <table class="ds-default-table">
      <thead>
          <tr class="thead">
              <th class="w80"></th>
              <th class="">{$Think.lang.goods_name}</th>
              <th class="w180">{$Think.lang.inviter_ratio}</th>
              <th class="w80">{$Think.lang.goods_price}</th>
              <th class="w80">{$Think.lang.inviter_total_quantity}</th>
              <th class="w100">{$Think.lang.inviter_total_amount}</th>
              <th class="w100">{$Think.lang.inviter_amount}</th>
          </tr>
      </thead>
      <tbody>
          {notempty name="goods_list"}
          {foreach name="goods_list" item="val"}
          <tr class="hover edit">
              <td><div class="pic-thumb"><img src="{:goods_thumb($val, 240)}"  onload="javascript:ResizeImage(this,56,56);"/></div></td>
              <td>{$val.goods_name}</td>
              <td>
                  <p>{$Think.lang.inviter_ratio_1}{$val.inviter_ratio_1}{$Think.lang.ds_percent}</p>
                  <p>{$Think.lang.inviter_ratio_2}{$val.inviter_ratio_2}{$Think.lang.ds_percent}</p>
                  <p>{$Think.lang.inviter_ratio_3}{$val.inviter_ratio_3}{$Think.lang.ds_percent}</p>
              </td>
              <td>{$Think.lang.currency}{$val.goods_price}</td>
              <td>{$val.inviter_total_quantity}</td>
              <td>{$Think.lang.currency}{$val.inviter_total_amount}</td>
              <td>{$Think.lang.currency}{$val.inviter_amount}</td>
          </tr>
          <tr style="display:none;">
              <td colspan="8"><div class="dssc-goods-sku ps-container"></div></td>
          </tr>
          {/foreach}
          {else /}
          <tr class="no_data">
              <td colspan="15">{$Think.lang.ds_no_record}</td>
          </tr>
          {/notempty}
      </tbody>
  </table>
    {$show_page}
</div>
<script>
$(function(){
    $('#dssubmit').click(function(){
        $('#formSearch').submit();
    });
});
</script>
{include file="public/footer" /}