<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>站内文章管理</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
    {include file="public/css"}
    {include file="public/js"}
</head>
<body>

<!-- 后台面包屑导航 -->
{:get_admin_breadcrumb()}
<!-- 搜索表单 -->
{:create_search_form("添加站内文章",$keywordsData,$customSingleField,$groupData,$dateData,$orderData)}

<div class="layui-form">
  <table class="layui-table" id="demo">
    <colgroup>
      <col width="20">
      <col width="50">
      <col width="100">
      <col width="310">
      <col width="110">
      <col width="110">
      <col>
    </colgroup>
    <thead>
      <tr>
        <th><input type="checkbox" class="id"  id="selectAll"  lay-skin="primary" lay-filter="selectAll"></th>
        <th>ID</th>
        <th>分类栏目</th>
        <th>站内文章标题</th>
        <th>发布时间</th>
        <th>操作</th>
      </tr> 
    </thead>
    <tbody>

{volist name='list' id='vo'}
      <tr>
        <td><input type="checkbox" name="id[]" class="id " title=""  lay-skin="primary" value="{$vo.id}"></td>
        <td>{$vo.id}</td>
        <td>【{$vo.cname}】</td>
        <td><a href="{:url('@portal/info/detail',['id'=>$vo.id])}" target="_blank">{$vo.title}</a></td>
        <td>{$vo.create_time|date="Y-m-d H:i:s"}</td>
        <td>
        <div class="layui-btn-group">
          <button class="layui-btn layui-btn-sm layui-btn-normal" id="edit" onclick="blank('{:url("info/edit",array("id"=>$vo["id"]))}')"> <i class="layui-icon">&#xe642;</i></button>
          <button class="layui-btn layui-btn-sm layui-btn-primary" onclick="del('{:url("info/del",array("id"=>$vo["id"]))}')" title="删除单页"> <i class="layui-icon">&#xe640;</i></button>
         </div>
 </td>
      </tr>
{/volist}

    </tbody>
  </table>
<!-- 搜索为空显示 -->
{if empty($list)}
 <div class="layui-form-item">
    <div class="empty">
     <div class="img"></div>
     <p>暂无内容</p></div>
 </div>
</div>
{/if}


</div>

<div id="pages">{$page|raw}</div>

<div class="layui-btn-group demoTable">

  <button class="layui-btn layui-btn-primary" id="del" data-type="getCheckData"> <i class="layui-icon">&#xe640;</i> 批量删除</button>
</div>

<script>
$(function(){
 //全选批量删除
        var id = []; //定义空数组
        var url ="{:url('info/del')}"; //请求的url
        var data = {"id":id};   //传递的表单数据
        var delButton = "#del"; //删除节点class 或者ID
        var checkboxClass = ".id"; //多选框class
       

         $(delButton).click(function(){
              $(checkboxClass).each(function() {
              if(this.checked == true){
                   id.push($(this).val()); 
              }
              });              
         if(id.length == 0){
            parent.layer.alert('你没有选中任何分类',{title:'批量删除提示'});
         }else{
                     var index =parent.layer.confirm('批量删除后，数据不可恢复', {
                      btn: ['确定删除','取消'] //按钮
                      ,title:'是否批量删除'
                      ,shadeClose:true
                      ,icon: 3
                      ,anim: 5  //动画类型
                    }, function(){
                      parent. layer.close(index);
                    // 确定ajax 删除数据
                                $.post(url,data        
                                     ,function(json){
                                      if(json.code == 0){
                                          layer.msg(json.msg);
                                               setTimeout(function(){ 
                                                     window.location.reload();  //页面刷新
                                                },1000);
                                           }
                                         }
                                       );

                    }, function(){
                       // 取消

                    });

         }

    });

});

$("#add").on("click",function(){
  blank('{:url("info/add")}');
});


</script>
</body>

</html>