{include file="public/header" /}


<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>代金券</h3>
                <h5></h5>
            </div>
            {include file="public/admin_items" /}
        </div>
    </div>

    <div class="explanation" id="explanation">
        <div class="title" id="checkZoom">
            <h4 title="{$Think.lang.ds_explanation_tip}">{$Think.lang.ds_explanation}</h4>
            <span id="explanationZoom" title="{$Think.lang.ds_explanation_close}" class="arrow"></span>
        </div>
        <ul>
            <li>{$Think.lang.admin_voucher_price_tip1}</li>
        </ul>
    </div>
    
    <table class="ds-default-table">
        <thead>
            <tr class="thead">
                <th class="w24"></th>
                <th>{$Think.lang.admin_voucher_price_describe}</th>
                <th>{$Think.lang.admin_voucher_price_title}({$Think.lang.currency_zh})</th>
                <th>{$Think.lang.admin_voucher_price_points}</th>
                <th class="align-center">{$Think.lang.ds_handle}</th>
            </tr>
        </thead>
        <tbody>
            {notempty name="voucherprice_list"}
            {foreach name="voucherprice_list" item="v"}
            <tr class="hover" id="ds_row_{$v.voucherprice_id}">
                <td><input type="checkbox" name='voucher_price_checkbox' value="{$v.voucherprice_id}" class="checkitem"></td>
                <td><span>{$v.voucherprice_describe}</span></td>
                <td><span>{$v.voucherprice}</span></td>
                <td><span>{$v.voucherprice_defaultpoints}</span></td>
                <td class="w120 align-center">
                    <a href="javascript:dsLayerOpen('{:url('Voucher/priceedit',['priceid'=>$v.voucherprice_id])}','{$Think.lang.ds_edit}')"  class="dsui-btn-edit"><i class="iconfont"></i>{$Think.lang.ds_edit}</a>
                    <a href="javascript:dsLayerConfirm('{:url('Voucher/pricedrop',['voucher_price_id'=>$v.voucherprice_id])}','{$Think.lang.ds_ensure_del}',{$v.voucherprice_id})" class="dsui-btn-del"><i class="iconfont"></i>{$Think.lang.ds_del}</a>
                </td>
                {/foreach}
                {else /}
            <tr class="no_data">
                <td colspan="10">{$Think.lang.ds_no_record}</td>
            </tr>
            {/notempty}
        </tbody>
        {notempty name="voucherprice_list"}
        <tfoot>
            <tr class="tfoot">
                <td>{notempty name="voucherprice_list"}
                    <input type="checkbox" class="checkall" id="checkall_1">
                    {/notempty}
                <td colspan="16">
                    <label for="checkallBottom">{$Think.lang.ds_select_all}</label>&nbsp;&nbsp;
                    <a href="JavaScript:void(0);" class="btn btn-small" onclick="submit_delete_batch()"><span>{$Think.lang.ds_del}</span></a>
                </td>
            </tr>
        </tfoot>
        {/notempty}
    </table>
     {$show_page}
</div>