{include file="public/header" /}





<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>邮箱短信</h3>
                <h5></h5>
            </div>
            {include file="public/admin_items" /}
        </div>
    </div>
    
    <div class="explanation" id="explanation">
        <div class="title" id="checkZoom">
            <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
            <span id="explanationZoom" title="收起提示" class="arrow"></span>
        </div>
        <ul>
            <li>平台可给商家提供站内信、手机短信、邮件三种通知方式。平台可以选择开启一种或多种通知方式供商家选择。</li>
            <li>开启强制接收后，商家不能取消该方式通知的接收。</li>
            <li>短消息、邮件需要商家设置正确号码后才能正常接收。</li>
        </ul>
    </div>


    <table class="ds-default-table">
        <thead>
            <tr class="space">
                <th colspan="15" class="nobg">{$Think.lang.ds_list}</th>
            </tr>
            <tr class="thead">
                <th>&nbsp;</th>
                <th>{$Think.lang.mailtemplates_index_desc}</th>
                <th class="align-center">站内信</th>
                <th class="align-center">手机短信</th>
                <th class="align-center">邮件</th>
                <th class="align-center">{$Think.lang.ds_handle}</th>
            </tr>
        </thead>
        <tbody>
            {notempty name="mstpl_list"}
            {foreach name="mstpl_list" item="val"}
            <tr class="hover">
                <td class="w24">&nbsp;</td>
                <td class="w25pre">{$val.storemt_name}</td>
                <td class="align-center">{if $val.storemt_message_switch}开启{else/}关闭{/if}</td>
                <td class="align-center">{if $val.storemt_short_switch}开启{else/}关闭{/if}</td>
                <td class="align-center">{if $val.storemt_mail_switch}开启{else/}关闭{/if}</td>
                <td class="w60 align-center"><a href="{:url('Message/seller_tpl_edit',['code'=>$val.storemt_code])}" class="dsui-btn-edit"><i class="iconfont"></i>{$Think.lang.ds_edit}</a></td>
            </tr>
            {/foreach}
            {/notempty}
        </tbody>

    </table>

</div>