.treeview, .treeview ul {list-style: none; margin: 0; padding: 0;}
.treeview ul {margin-top: 4px;}
.treeview .hitarea { cursor: pointer; float: left; height: 16px; margin-left: -16px; width: 16px;}
/* fix for IE6 */
* html .hitarea {display: inline; float: none;}
.treeview li {margin: 0;padding: 0px 0px 1px 0px;}
.treeview a.selected {background-color: #eee;}
#treecontrol {margin: 1em 0; display: none;}
.treeview .hover {color: red; cursor: pointer;}
.treeview li.collapsable, .treeview li.expandable {background-position: 0 -176px;}
.treeview .expandable-hitarea {background-position: -80px -3px;}
.treeview li.last {background-position: 0 -1766px}
.treeview li.lastCollapsable {background-position: 0 -111px;}
.treeview li.lastExpandable {background-position: -32px -67px;}
.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea {background-position: 0;}
.treeview-red li {background-image: url(tree/treeview-red-line.gif);}
.treeview-red .hitarea, .treeview-red li.lastCollapsable, .treeview-red li.lastExpandable {background-image: url(tree/treeview-red.gif);} 
.treeview-black li {background-image: url(tree/treeview-black-line.gif);}
.treeview-black .hitarea, .treeview-black li.lastCollapsable, .treeview-black li.lastExpandable {background-image: url(tree/treeview-black.gif);}
.treeview-gray li {background-image: url(tree/treeview-gray-line.gif);}
.treeview-gray .hitarea, .treeview-gray li.lastCollapsable, .treeview-gray li.lastExpandable {background-image: url(tree/treeview-gray.gif);} 
.treeview-famfamfam li {background-image: url(tree/treeview-famfamfam-line.gif);}
.treeview-famfamfam .hitarea, .treeview-famfamfam li.lastCollapsable, .treeview-famfamfam li.lastExpandable {background-image: url(tree/treeview-famfamfam.gif);}
.treeview .placeholder {background: url(tree/ajax-loader.gif) 0 0 no-repeat; display: block; height: 16px; width: 16px;}
/* filetree */
.filetree {margin: 5px 0px 0px 0px;}
.filetree span.folder, .filetree span.file {color: #0A438C; display: block; padding: 1px 0 1px 22px;}
.filetree span.folder {background-color:#3DB3F7; font-weight: bold;color:#fff;height:25px;line-height:25px;    padding: 2px 10px 2px 10px;}
.filetree li.expandable span.folder {}
.filetree a {color: #ac0505; text-decoration: none;}