<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$seo['title']}</title>
<meta name="keywords" content="{$seo['keywords']}" />
<meta name="description" content="{$seo['description']}" />
<link rel="shortcut icon" type="image/ico" href="{$pe['host_root']}favicon.ico">
<link type="text/css" rel="stylesheet" href="{$pe['host_tpl']}css/style.css" />
<script type="text/javascript" src="{$pe['host_root']}include/js/jquery.js"></script>
<script type="text/javascript" src="{$pe['host_root']}include/js/global.js"></script>
<script type="text/javascript" src="{$pe['host_root']}include/js/arttpl.js"></script>
<script type="text/javascript" src="{$pe['host_root']}include/plugin/layer/layer.js"></script>
</head>
<body style="background:#fff;padding:10px">