<!--{include(pe_tpl('header_dialog.html'));}-->
<!--{if($info['order_pstate']):}-->
<div class="tixing mab10 corg">本订单已支付，取消订单后将自动退款到用户余额！</div>
<!--{endif;}-->
<form method="post" id="form" autocomplete="off">
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="wenzhang_bak">
<tr>
	<td class="bgtt aright c888" width="120">订单编号</td>
	<td>{$info['order_id']} </td>
</tr>
<tr>
	<td class="bgtt aright c888">实付金额</td>
	<td>
		<span class="num strong corg">{$info['order_money']} 元</span>
		<!--{if($info['order_ptime']):}-->
		<span class="cgreen mal10">[已支付]</span>
		<!--{else:}-->
		<span class="corg mal10">[未支付]</span>
		<!--{endif}-->
	</td>
</tr>
<tr>
	<td class="bgtt aright c888">支付方式</td>
	<td>{$info['order_payment_name']}</td>
</tr>
<tr>
	<td class="bgtt aright c888">取消原因</td>
	<td><textarea name="order_closetext" style="width:350px; height:100px; resize:none"></textarea></td>
</tr>
</table>
<div class="acenter mat30">
	<input type="hidden" name="pesubmit" />
	<input type="hidden" name="pe_token" value="{$pe_token}" />
	<input type="button" value="提 交" class="tjbtn" />
</div>
</form>
<script type="text/javascript">
$(function(){
$(":button").click(function(){
	if ($(":input[name='order_closetext']").val() == '') {
		alert('请填写订单关闭原因');
		return false;
	}
	$("form").submit();
})
})
</script>
<!--{include(pe_tpl('footer_dialog.html'));}-->