<!--{include(pe_tpl('header_dialog.html'));}-->
<form method="post" id="form" autocomplete="off">
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="wenzhang_bak">
<tr>
	<td align="right" class="bgtt" width="100">当前销量</td>
	<td>{$info['product_sellnum']} 件 （已有{$info['product_commentnum']}人评价）</td>
</tr>
<tr>
	<td align="right" class="bgtt">设置销量</td>
	<td><input type="text" name="product_sellnum" class="inputall input100" /> <span id="product_sellnum_show"></span></td>
</tr>
</table>
<div class="acenter mat20">
	<input type="hidden" name="pesubmit" />
	<input type="hidden" name="pe_token" value="{$pe_token}" />
	<input type="button" value="提 交" class="tjbtn" />
</div>
</form>
<script type="text/javascript" src="{$pe['host_root']}include/js/formcheck.js"></script>
<script type="text/javascript">
var form_info = [
	{"name":"product_sellnum", "mod":"num", "act":"blur", "arg":"{$info['product_commentnum']}|", "show_id":"product_sellnum_show","show_error":"销量应大于评价数", "must":true}
]
$(":button").pe_submit(form_info, 'form');
</script>
<!--{include(pe_tpl('footer_dialog.html'));}-->