<div class="now">
	<a href="admin.php?mod=tongji" <!--{if($act=='index'):}-->class="sel"<!--{endif;}-->>访客统计<i></i></a>
	<a href="admin.php?mod=tongji&act=order" <!--{if($act=='order'):}-->class="sel"<!--{endif;}-->>订单统计<i></i></a>
	<a href="admin.php?mod=tongji&act=sell" <!--{if($act=='sell'):}-->class="sel"<!--{endif;}-->>热销排行<i></i></a>
	<a href="admin.php?mod=tongji&act=user" <!--{if($act=='user'):}-->class="sel"<!--{endif;}-->>消费排行<i></i></a>
	<a href="admin.php?mod=tongji&act=notice" <!--{if($act=='notice'):}-->class="sel"<!--{endif;}-->>短信/邮件记录<i></i></a>
	<div class="clear"></div>
</div>