<!--{include(pe_tpl('header_dialog.html'));}-->
<form method="post">
<table width="100%" style="width:730px;margin:0;" border="0" cellspacing="0" cellpadding="0" class="wenzhang_bak">
<tr>
	<td class="bgtt aright c888" width="100">收 件 人</td>
	<td><input type="text" name="email_user" value="{implode(',', $email_user)}" class="inputall input450" /> <span class="c888">（多个用“,”隔开）</span></td>
</tr>
<tr>
	<td class="bgtt aright c888">邮件标题</td>
	<td><input type="text" name="email_name" class="inputall input450" autocomplete="off" /></td>
</tr>
<tr>
	<td class="bgtt aright c888">邮件正文</td>
	<td><textarea name="email_text" id="editortext" style="width:590px;height:300px"></textarea></td>
</tr>
</table>
<div class="mat10 center">
	<input type="hidden" name="pe_token" value="{$pe_token}" />
	<input type="submit" name="pesubmit" value="发 送" class="tjbtn" />
</div>
</form>
<script type="text/javascript" src="{$pe['host_root']}include/plugin/editor/kindeditor.js"></script>
<script type="text/javascript" src="{$pe['host_root']}include/plugin/editor/lang/zh_CN.js"></script>
<script type="text/javascript" charset="utf-8">
var editor;
KindEditor.ready(function(K) {
	editor = K.create('#editortext', {
		allowFlashUpload :false
	});
});
</script>
<!--{include(pe_tpl('footer_dialog.html'));}-->