<!--{include(pe_tpl('header.html'));}-->
<div class="right">
	<div class="now">
		<a href="admin.php?mod=userlevel" class="sel">会员等级（{$tongji['all']}）<i></i></a>
		<a href="admin.php?mod=userlevel&act=add" id="fabu">添加等级</a>
		<div class="clear"></div>
	</div>
	<!--{foreach($ini['userlevel_up'] as $type=>$name):}-->
	<div class="right_main">
		<form method="post" id="form">
		<table width="100%" border="0" cellspacing="0" cellpadding="0" class="list">
		<tr>
			<th class="bgtt" width="20"><input type="checkbox" name="checkall" onclick="pe_checkall(this, 'userlevel_id')" /></th>
			<th class="bgtt" width="50">ID号</th>
			<th class="bgtt" width="230">会员等级</th>
			<th class="bgtt" width="230">消费额满</th>
			<th class="bgtt" width="230">折扣率</th>
			<th class="bgtt">升级方式</th>
			<th class="bgtt" width="110">操作</th>
		</tr>
		<!--{foreach($info_list[$type] as $v):}-->
		<tr>
			<td><input type="checkbox" name="userlevel_id[]" value="{$v['userlevel_id']}" /></td>
			<td>{$v['userlevel_id']}</td>
			<td>{$v['userlevel_name']}</td>
			<td><!--{if($v['userlevel_up']=='auto'):}-->{$v['userlevel_value']}元<!--{else:}-->-<!--{endif;}--></td>
			<td>{$v['userlevel_zhe']*100}%</td>
			<td>{$name}</td>
			<td>
				<a href="admin.php?mod=userlevel&act=edit&id={$v['userlevel_id']}" class="admin_edit mar3">修改</a>
				<a href="admin.php?mod=userlevel&act=del&id={$v['userlevel_id']}&token={$pe_token}" class="admin_del" onclick="return pe_cfone(this, '删除')">删除</a>
			</td>
		</tr>
		<!--{endforeach;}-->
		</table>
		</form>
	</div>
	<!--{endforeach;}-->
</div>
<!--{include(pe_tpl('footer.html'));}-->