<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$seo['title']}</title>
<meta name="viewport" content="width=1200" />
<meta name="keywords" content="{$seo['keywords']}" />
<meta name="description" content="{$seo['description']}" />
<meta name="viewport" content="width=1200" />
<link rel="shortcut icon" type="image/ico" href="{$pe['host_root']}favicon.ico">
<link type="text/css" rel="stylesheet" href="{$pe['host_tpl']}css/style.css" />
<script type="text/javascript" src="{$pe['host_root']}include/js/jquery.js"></script>
<script type="text/javascript" src="{$pe['host_root']}include/js/global.js"></script>
<script type="text/javascript" src="{$pe['host_root']}include/js/arttpl.js"></script>
<script type="text/javascript" src="{$pe['host_root']}include/plugin/layer/layer.js"></script>
</head>
<body>
<div class="quick_menu">
	<div class="width980">
		<span class="fl">欢迎来到{$cache_setting['web_title']}！</span>
		<div class="fr top_r">
			<!--{if(pe_login('user')):}-->
			您好：<a href="{$pe['host_root']}user.php" style="color:#DF002F;padding:0;border:0">{$_s_user_name}</a>
			<a href="{$pe['host_root']}user.php?mod=do&act=logout" title="退出" style="padding-left:0;color:#999">[退出]</a>
			<!--{else:}-->
			<a href="{$pe['host_root']}user.php?mod=do&act=login&{pe_fromto()}" title="登录">登录</a>
			<a href="{$pe['host_root']}user.php?mod=do&act=register&{pe_fromto()}" title="注册">免费注册</a>
			<!--{endif;}-->
			<a href="{$pe['host_root']}user.php?mod=order" title="我的订单" class="scj">我的订单</a>
			<a href="{pe_url('article-news')}" title="资讯中心" style="border-right:0;">资讯中心</a>
		</div>
		<div class="clear"></div>
	</div>
</div>
<div class="width980">
{ad_show('pc', 'header')}
<!--{if($mod=='index'):}-->{ad_show('pc', 'index_header')}<!--{endif;}-->
</div>
<div style="background:#fff; padding-bottom:20px;">
<div class="width980">
	<div class="header">
		<div class="fl logo"><a href="{$pe['host_root']}" title="{$cache_setting['web_name']}"><img src="{pe_thumb($cache_setting['web_logo'])}" alt="{$cache_setting['web_name']}" /></a></div>
		<div class="head_gwc"><a href="{pe_url('cart')}"><div class="head_gwc_tb">购物车 <span class="num cred js_cartnum">{user_cartnum()}</span> 件　 ></div></a></div>
		<!--<p class="top_tel fr">{$cache_setting['web_phone']}</p>-->
		<div class="sear fr">				
			<form method="get" action="{$pe['host_root']}index.php">
			<input type="hidden" name="mod" value="product" />
			<input type="hidden" name="act" value="list" />
			<!--{if($_g_sel):}--><input type="hidden" name="sel" value="{htmlspecialchars($_g_sel)}" /><!--{endif;}-->
			<div class="inputbg fl"><input type="text" name="keyword" value="{htmlspecialchars($_g_keyword)}" class="fl searinput c666" /></div>
			<input type="submit" class="fl sear_btn" onclick="this.form.submit();return false;" value="搜 索" />
			</form>
			<div class="clear"></div>
			<div class="mat5 head_hot">
			<!--{foreach(explode(',', $cache_setting['web_hotword']) as $v):}-->
			<a href="{$pe['host_root']}index.php?mod=product&act=list&keyword={$v}" title="{$v}" target="_blank" class="mar5 c666">{$v}</a>
			<!--{endforeach;}-->
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>
</div>
<div class="clear"></div>
<div class="nav">
	<ul>
	<li class="sel" style="width:228px; position:relative;z-index:999" id="menu_nav">
		<h3 class="all"><a href="{$pe['host_root']}index.php?mod=product&act=list"><span></span>全部商品</a></h3>
		<div id="menu_html" <!--{if($mod!='index'):}-->style="display:none"<!--{endif;}-->>
			<div class="fl_index">
				<!--{foreach((array)$cache_category_arr[0] as $k=>$v):}-->
				<!--{$i++;}-->
				<div class="fenlei_li <!--{if($i>12):}-->fenlei_li_more<!--{endif;}-->">
					<div class="fenlei_h3">
						<a href="{pe_url('product-list-'.$k)}" title="{$v['category_name']}" class="i{$i}" <!--{if($i==8):}-->style="border-bottom:0"<!--{endif;}-->>{$v['category_name']}</a>
						<i class="b_right"></i>
					</div>
					<div class="js_right" style="display:none;">
						<!--{foreach((array)$cache_category_arr[$k] as $kk=>$vv):}-->
						<div class="fl_s">
							<div class="fl fl_s1"><a href="{pe_url('product-list-'.$kk)}" title="{$vv['category_name']}"><strong>{$vv['category_name']}</strong> ></a></div>
							<div class="fl fl_s2">
								<!--{foreach((array)$cache_category_arr[$kk] as $kkk=>$vvv):}-->
								<a href="{pe_url('product-list-'.$kkk)}" title="{$vvv['category_name']}">|<span>{$vvv['category_name']}</span></a>
								<!--{endforeach;}-->
								<div class="clear"></div>
							</div>
							<div class="clear"></div>
						</div>
						<!--{endforeach;}-->
					</div>
				</div>
				<!--{endforeach;}-->
			</div>
		</div>
	</li>
	<li><h3><a href="{$pe['host_root']}" title="首页">首页</a></h3></li>
	<!--{foreach((array)$cache_menu as $v):}-->
	<li><h3><a href="{$v['menu_url']}" title="{$v['menu_name']}" {$v['menu_target']}>{$v['menu_name']}</a></h3></li>
	<!--{endforeach;}-->
	</ul>
</div>
<div class="clear"></div>
