
*{margin:0;padding:0;font-size:12px;}
 
body{text-align:left;font-family:Arial,Helvetica,sans-serif; }
 
a {color:#2480C4;text-decoration:underline;}
a:hover{color:#ff0000;text-decoration:underline;}

/*end common*/

/*siteheader*/
.siteheader{height: 30px; }
.siteheader h1{font-size:18px;margin:5px 0 0 10px}
.headerfront{ display:inline-block;padding:0px 10px; height: 25px;line-height:25px;  margin:2px 20px 0 0;background:#205081;color:#fff;  }
.headerfront:hover,.headerfront:visited{ background:#4877a8;color:#fff }
.headeruser{position:relative;display:inline-block; width: 36px; height: 30px; background:#205081;cursor:pointer }
.headeruser img{float:left; margin:3px 3px 0 6px;width: 24px; height: 24px; }
 .headeruserinc {display:none;position:absolute; width: 150px;top:30px;right:0; z-index:222;padding:5px;   background-color: #fff;  border: 1px solid #ccc;
  border-bottom-left-radius: 3px;  border-bottom-right-radius: 3px;  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);}
 .headeruserinc a{display:block;padding:10px 5px;color:#333 }
  .headeruserinc a:hover{background:#205081; color:#fff}
/*---end siteheader*/

.w_rgmod{width: 1020px; }
.menu{padding:2px 0 10px 15px}
.menu a{background:transparent url(img/dotdot3.gif) no-repeat scroll 0 3px;padding:0 15px;}
img{border:0}
.price{color:#ff0000;font-size:18px;font-family:Tahoma}

/*end new cnt*/
.pageroll{width: 80%;font-size:12px;padding:10px;  }
.pageroll a{padding:0 5px}
.hei180{line-height:200%}
.cnt {	MARGIN-LEFT: auto; WIDTH: 600px; MARGIN-RIGHT: auto;FLOAT:center; TEXT-ALIGN: left}
.pad20{padding:20px; }.pad10{padding:10px; }
table td.title{font-size:16px;font-weight:bold;}

.ul_lunh{float:left;display:inline; width:173px;height:280px;margin:5px;border:1px solid #9BACD7;padding:3px;overflow:hidden; }
.ul_lunh li.text{height: 80px;overflow:auto; line-height:15px;  }
.ul_lunh li.btn{padding-bottom:3px}

 .memleft{
	background-color:#ECF8FF;border-left:1px solid #CBE4F3;border-right:1px solid #CBE4F3;text-align:center;MARGIN-LEFT: auto; MARGIN-RIGHT: auto;}

.memleft  a{width:100px;height:27;background:#AEC9E6;color:#0066CC;text-decoration:none;font-weight:bold;TEXT-ALIGN: center;padding:5px  0 0 0;display:block;margin:0 0 10px 0;MARGIN-LEFT: auto; MARGIN-RIGHT: auto;}
.memleft   a:hover{width:100px;height:27;background:#6799CF;color:#FF6600;text-decoration:none;font-weight:bold;TEXT-ALIGN: center;padding:5px  0 0 0;display:block;margin:0 0 10px 0;MARGIN-LEFT: auto; MARGIN-RIGHT: auto;}
/*append 20090306*/
.proname{font-weight:bold;font-size:15px;}


.cont{text-align:center}
.cont-c{width:96%;margin:0 auto;text-align:left}
.refresh{padding:5px}
.box{border:1px solid #b1b1b1;margin:10px 0}
.box .title{border-bottom:#ddd;background:#F5E7F3;height:30px;color:#EE0D72;padding:5px 0 0 5px}
.box .title h3{float:left;font-size:16px}
.box .detail ul{padding:0 0 0 22px}
.box .detail li{padding:5px 0}
.box .detail .list li{background:url(../img/arrinf2.gif) no-repeat scroll 2px 8px;padding-left:15px;border-bottom:1px solid #ccc;font-size:14px;line-height:150%}
.box .form{width:96%;margin-bottom:3px}
.box .form li.left{float:left;width:200px;text-align:right; background:#F0F0F0;padding:10px}
.box .form li.rg{float:left;text-align:left;padding:10px;line-height:155%;background:#fafafa;width: 500px;   }
.box .text{padding:5px}
.boxhint{margin-bottom:22px;padding:5px;font-size:14px;line-height:136%;border:1px solid red}
.boxhint h5{font-size:16px}
/*add 2009 03*/
ul.buttonbg,ul.buttonbg li,ul.buttonbg li a{height: 35px;background:url(../img/buttonbg.jpg) no-repeat ;  }
ul.buttonbg li a{background-position: 100% 0 ;display:block;float:right;width: 85%;line-height:32px;color:#fff;font-size:16px  }

.formtab i{font-style:italic}
 

.pro_album_right{float:left;width: 66%; }



/*add1015*/
.navlang{margin:10px 0 0 40px;position:relative;z-index:333;}
.curstyle{margin:15px 0 0 40px;position:relative;z-index:333;}

body .xialabox {background:url(img/xialabg.png) 0 top no-repeat;width:179px;padding-top:18px;z-index:2221;}
body .xialabox_inc {background:url(img/xialabg.png) -190px bottom no-repeat;padding:0 10px 10px 10px;}
body .navdm .xialabox  a,body .navdm .xialabox  strong{display:block;padding:2px 5px;height:25px;line-height:25px;color:#666;border-bottom:1px solid #ccc;}
body .xialabox   a:hover{color:#DAE1EF}
 body .xialabox_lang{left:-50px;top:25px;z-index:2222;}  .xialabox_lang li{padding:2px 10px;}  .xialabox_lang li a:hover{color:red;}
 body .navdm .xialabox {top:39px;left:-50px;}

.navdm  {height: 42px;line-height:40px; padding-left:10px;background:#2480C4;border-bottom:1px solid #144579;}
.navdm li{float:left; padding:0 20px ;position:relative;z-index:2221;}
.navdm  li a{color:#fff;text-decoration:none;font-size:14px; }
.navdm li a:hover{color:#FF6634;text-decoration:none;}
.navdm li.main{border-right:1px solid #1E6CA6; }
.navdm li.last{border-right:0; }
.navdm .subicon{position:absolute; bottom:15px;right:5px;width: 10px; height: 10px;color:#fff}
.navdm .xialabox a{font-size:12px;}
.menucurcnt{clear:both; overflow:hidden;}
.menucurcnt a{float:left; margin:0 10px; }
/*navmodule*/
.navmod{padding:5px 10px;background:#DFDFDF;border-top:2px solid #6498FF;height:20px}
.navmod a{display:inline-block;}
.navmod  a{padding:0px 15px;background:url(img/dotdot3.gif) no-repeat 0 3px; color:#0000ff;}
.navmod   a:hover{color:#ff0000}
 


/*new cnt*/
.newcnt{font-size:14px;padding:10px}
.tit_biao{height: 35px; background:#2176BE;padding:0;color:#fff;
-webkit-border-radius: 10px 10px 0 0;
-moz-border-radius: 10px 10px 0 0;
border-radius: 10px 10px 0 0;
}
 .iframeheader a:hover{color:#FFA245}
.tit_biao h1{
float:left;display:inline; margin:5px 0 0 5px;height: 23px; line-height:23px; 
padding:5px 0 0 11px;font-size:16px;color:#333;background:#EBBF60; font-size:15px;padding:0 10px;-webkit-border-radius: 10px;
-moz-border-radius: 10px;border-radius: 10px; }
 

/**/
.adindex2{padding:0 11px;font-size:14px;line-height:20px; }
.adindex2 b{font-size:16px;}
ol.adindex li{padding:7px 5px;font-size:14px; }ol.adindex{padding-left:11px;font-size:14px;}
/**/


 
 
.sidebarsubtitle .tdtitle{border-top:1px solid #c1c1c1;background:#f0f0f0;padding:10px 0;text-align:center; color:#2176BE}
.sidebarsubtitle .blockid{ display:inline-block;padding:0 3px; }

 


.diviso_filter{text-align:center;margin:10px 0;border-bottom:3px solid #2176BE; }
.diviso_filter a.active{font-weight:bold;font-size:12px;background:#2176BE;color:#fff}
.diviso_filter li{display:inline-block;margin-right:5px; }
.diviso_filter li a{text-decoration:none; font-size:12px;display:block;height: 24px;line-height:24px;padding:0 10px}

 
/*maineff subeff*/
.maineff .maintitle{height: 45px;line-height:45px; background:#52a6e5;color:#fff;font-size:14px;font-weight:bold;padding-left:10px;cursor:pointer}
.maineff{border:2px solid #52a6e5;margin-bottom:20px }
.subeff li.subli{ margin:5px; border:1px solid #BED3E5; float:left; display:inline;  }
.subeff .subtitle{height: 30px;line-height:30px; background:#BED3E5; font-size:14px;font-weight:bold;padding-left:10px;margin-bottom:10px  }
.subeff ul.ndlist li{float:left; display:inline; width: 260px; height: 250px; text-align:center; }
.subeff ul.ndlist li .name{padding:3px; }
.subeff ul.ndlist li .bs{padding:5px;color:gray }
.maineff .accord{margin-right:5px;margin-top:5px;cursor:pointer}
.maineff .accordcur{background-position:-52px 0}
.hidesubeff .subeff{display:none; }
.allcord{height: 35px; text-align:right; }
.allcord span{display:inline-block;height: 25px;line-height:25px;padding:0 10px;  margin:3px 3px 0 0 ;background:#FFA245;color:#fff;font-size:14px;font-weight:bold;cursor:pointer   }
.allcordfixed{position:fixed;width: 100%;top:0;right:10px;background:#fff; border-bottom:1px solid #f5e675;  }

/*backtop*/
.backtop{display:none;position:fixed;_position:absolute;bottom:300px;right:0px;
width: 31px; height: 62px; }
.backtop a{display:block;width: 28px; height: 30px;background: url(img/bgbacktop.png) no-repeat; }
.backtop .up:hover{ background-position:-33px 0px}
.backtop .down{background-position:0 -31px }
.backtop .down:hover{ background-position:-33px -31px}




/*new*/
.content-wrapper{width:96%;margin:0 auto;border:1px solid #99ACD6}

.content-header{position:relative;padding:8px; }
.content-header > h1{margin:0;font-size:20px}
.content-header > h1 > small{font-size:15px;display:inline-block;padding-left:4px;font-weight:300}
.content-header > .breadcrumb{float:right;background:transparent;font-size:12px;padding:7px 5px;border-radius:2px}
.content-header > .breadcrumb > li > a{color:#444;text-decoration:none;display:inline-block}
.content-header > .breadcrumb > li > a > .fa,.content-header > .breadcrumb > li > a > .glyphicon,.content-header > .breadcrumb > li > a > .ion{margin-right:5px}
.content-header > .breadcrumb > li + li:before{content:'>\00a0'}
.breadtitle{ font-size:18px; }

.content{width:99%;margin:10px auto;min-height:350px}

.cntwrap  h3{margin:0; font-size:18px;}
.cntwrap .sidebar{ width: 20%;float:left; display:inline;  }
.cntwrap .content{ width: 80%;float:left; display:inline;  }
.cntwrap .content li{font-size:14px;padding:3px 0; }
.cntwrap .content li span{font-size:14px;}
.cntwrap .sidebar  li{padding:5px; }
.cntwrap .sidebar  li a{font-size:16px;text-decoration:none; }
.cntwrap .sidebar  li a.cur{font-weight:bold;color:red}
.showblockid{padding:20px; }

.main-footer{padding:20px;text-align:center; border-top:1px solid #ccc;text-align:center;background:#eee;margin-top:22px }


.content-header > .breadcrumb > li > a{text-decoration:underline; color:#2480C4}

.seolist li{ padding:5px;border-bottom:1px solid #ccc }
.seolist li li,.seolist li li li{padding:3px  0px 3px 25px} 
.seolist li h3{font-size:14px;padding:3px;margin:0;  }.seolist li li h3{font-size:12px;}
.seolist li .tdk{ padding:0 5px } 
.seolist li{ margin-bottom:15px }
.seolist li li {background:none; margin-bottom:0}
 
#backtotop a{position:fixed;bottom:60px;right:20px;z-index:999;width: 37px; height: 50px;background:url(img/admbacktop.jpg) no-repeat;  }

.treearr ul{padding:5px 0 5px 30px;border-bottom:0px solid #ccc;  }
.treearr li{padding:2px;   }
.treearr_select{ background:#eff2f5;padding:5px; margin:10px 0 }
.treearr_select li{padding:0  }
.treearr_select span.activeblue { color:blue }
.treearr_select span.active,.treearr_select span.active a{font-weight:bold;color:red}

.treearr_select li span{ cursor:pointer }
.treearr_catelist div{ border-bottom:1px solid #ccc;margin-bottom:3px }
.treearr_catelist div.active{background:#DDE7FF;  }
.treearr .hidediv{ background:#ccc;  }
.tree .active a{color:red}
.tree .hidediv a{ background:#ccc;  }





/*@media screen and (max-width:480px) {......}
@media (max-width: 767px) {......}
@media (min-width: 768px) and (max-width: 991px){......}
@media (min-width: 992px) and (max-width: 1199px) {......}
@media (min-width: 1200px) {......}*/
 
@media screen and (max-width:480px) {
.imglist li{margin-left:20%}
  
}/*end media*/

 
@media (min-width: 1200px) { 
 .form-controldi{width: 85%;display:inline;  }
.pro_album_left{width: 20%; }
.pro_album_right{width: 78%; }
.pcnarrowwidth{padding: 0 50px}

}/*end media*/

  .navdm_mob{display:none; }

@media (max-width: 800px) { 
.menucurcnt{display:none; }
  .navdm_mob{height: 42px;line-height:40px;  background:#2480C4;display:block;} 
  .navdm_mob .icon-bar{background:#fff; }

.navbar-toggle{padding-top:3px}
 .navdm  {position:absolute; display:none; width: 100%;top:70px; left:0;padding:0;  line-height:20px;background:#2480C4;border-bottom:1px solid #144579;}
.navdm li{float:none;width: 100%; position:relative;z-index:111;background:#eaf2fa; }
.navdm li.main{padding:0; border: 1px solid #C3DEF8}
.navdm li a{color:#2480C4;display:block;padding-left:20px;}
body .navdm  .xialabox{padding:0 0 0 25px;position:relative; display:block;background:none;left:0;top:0;margin:0;  }
body .xialabox_inc{background:none; }
 .navdm .subicon{display:none;}
.navdm .navblock a{color:#bbb}

.cntwrap .sidebar{ width: 30%;float:left; display:inline;  }
.cntwrap .content{ width: 70%;float:left; display:inline;  }


}/*end media*/

@media (max-width: 800px) { 
.cntwrap .sidebar{ width: 100%;float:left; display:inline;  }
.cntwrap .content{ width: 100%;float:left; display:inline;  }
 }/*end media*/