<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>DsMall(php)B2B2C商城系统后台</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <link rel="stylesheet" href="{$Think.ADMIN_SITE_ROOT}/css/admin.css">
        <link rel="stylesheet" href="{$Think.ADMIN_SITE_ROOT}/iconfont/iconfont.css">
        <link rel="stylesheet" href="{$Think.PLUGINS_SITE_ROOT}/js/jquery-ui/jquery-ui.min.css">
        <script src="{$Think.PLUGINS_SITE_ROOT}/jquery-2.1.4.min.js"></script>
        <script src="{$Think.PLUGINS_SITE_ROOT}/jquery.validate.min.js"></script>
        <script src="{$Think.PLUGINS_SITE_ROOT}/jquery.cookie.js"></script>
        <script src="{$Think.PLUGINS_SITE_ROOT}/common.js"></script>
        <script src="{$Think.ADMIN_SITE_ROOT}/js/admin.js"></script>
        <script src="{$Think.PLUGINS_SITE_ROOT}/js/jquery-ui/jquery-ui.min.js"></script>
        <script src="{$Think.PLUGINS_SITE_ROOT}/perfect-scrollbar.min.js"></script>
        <script src="{$Think.PLUGINS_SITE_ROOT}/layer/layer.js"></script>
        <script type="text/javascript">
            var BASESITEROOT = "{$Think.BASE_SITE_ROOT}";
            var ADMINSITEROOT = "{$Think.ADMIN_SITE_ROOT}";
            var BASESITEURL = "{$Think.BASE_SITE_URL}";
            var HOMESITEURL = "{$Think.HOME_SITE_URL}";
            var ADMINSITEURL = "{$Think.ADMIN_SITE_URL}";
        </script>
    </head>
    <body>
        <div id="append_parent"></div>
        <div id="ajaxwaitid"></div>




