<div class="admincp-header">
    <div class="logo">
        <img src="{$Think.ADMIN_SITE_ROOT}/images/backlogo.png"/>
    </div>
    <div class="navbar">
        <ul class="fl" style="float:left;">
            {foreach name="menu_list" item="menu"}
            <li id="nav_{$menu.name}">
                <a href="javascript:void(0)" onclick="openItem('{$menu.name}')">{$menu.text}</a>
                <dl>
                    {foreach name="menu.children" item="submenu" }
                    <dd><a href="javascript:void(0)" onclick="openItem('{$submenu.args}')">{$submenu.text}</a></dd>
                    {/foreach}
                </dl>
            </li>
            {/foreach}
        </ul>
        <ul class="fr" style="float:right">
            <li><span>您好,{$Think.session.admin_name}</span></li>
            <li><a href="{:url('Index/modifypw')}" target="main-frame">修改密码</a></li>
            <li><a href="javascript:dsLayerConfirm('{:url('Login/logout')}','您确定退出吗?')">安全退出</a></li>
            <li><a href="javascript:dsLayerConfirm('{:url('Index/clear')}','确定清理全部缓存?')" target="main-frame">{$Think.lang.ds_cache}</a></li>
            <li><a href="{:url('/Home/Index/index')}" target="_blank">访问首页</a></li>
        </ul>
    </div>
</div>
