{include file="public/header" /}



<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>{$Think.lang.store_class}</h3>
            </div>
            {include file="public/admin_items" /}
        </div>
    </div>
  <div class="fixed-empty"></div>
  
  <div class="explanation" id="explanation">
      <div class="title" id="checkZoom">
          <h4 title="{$Think.lang.ds_explanation_tip}">{$Think.lang.ds_explanation}</h4>
          <span id="explanationZoom" title="{$Think.lang.ds_explanation_close}" class="arrow"></span>
      </div>
      <ul>
          <li>{$Think.lang.store_class_help1}</li>
          <li>{$Think.lang.store_class_help2}</li>
      </ul>
  </div>
  
    <table class="ds-default-table">
        <colgroup>
            <col class="w48">
            <col class="w120">
            <col>
            <col class="w200">
            <col class="w200">
        </colgroup>
      <thead>
        <tr class="thead">
          <th><input type="checkbox" class="checkall" id="checkall_1"></th>
          <th>{$Think.lang.ds_sort}</th>
          <th>{$Think.lang.store_class_name}</th>
          <th class="align-center">{$Think.lang.store_class_bail}({$Think.lang.currency_zh})</th>
          <th>{$Think.lang.ds_handle}</th>
        </tr>
      </thead>
      <tbody>
        {notempty name="class_list"}
        {foreach name="class_list" item="v" key="k" }
        <tr class="hover edit" id="ds_row_{$v.storeclass_id}">
          <td><input type="checkbox" name='check_sc_id[]' value="{$v.storeclass_id}" class="checkitem"></td>
          <td class="sort"><span title="{$Think.lang.can_edit}" ajax_branch='store_class_sort' datatype="number" fieldid="{$v.storeclass_id}" fieldname="storeclass_sort" ds_type="inline_edit" class="editable">{$v.storeclass_sort}</span></td>
          <td class="name">
          	<span title="{$Think.lang.store_class_name}" required="1" fieldid="{$v.storeclass_id}" ajax_branch='store_class_name' fieldname="storeclass_name" ds_type="inline_edit" class="node_name editable">{$v.storeclass_name}</span>
          </td>
          <td class="align-center">{$v.storeclass_bail}</td>
          <td>
              <a href="javascript:dsLayerOpen('{:url('Storeclass/store_class_edit',['storeclass_id'=>$v.storeclass_id])}','{$Think.lang.ds_edit}-{$v.storeclass_name}')" class="dsui-btn-edit"><i class="iconfont"></i>{$Think.lang.ds_edit}</a>
              <a href="javascript:dsLayerConfirm('{:url('Storeclass/store_class_del',['storeclass_id'=>$v.storeclass_id])}','{$Think.lang.del_store_class}',{$v.storeclass_id})" class="dsui-btn-del"><i class="iconfont"></i>{$Think.lang.ds_del}</a>
          </td>
        </tr>
        {/foreach}
        {else /}
        <tr class="no_data">
          <td colspan="10">{$Think.lang.ds_no_record}</td>
        </tr>
        {/notempty}
      </tbody>
      <tfoot>
        {notempty name="class_list"}
        <tr id="batchAction" >
          <td><input type="checkbox" class="checkall" id="checkallBottom"></td>
          <td colspan="16" id="dataFuncs"><label for="checkallBottom">{$Think.lang.ds_select_all}</label>
            &nbsp;&nbsp;<a href="JavaScript:void(0);" class="btn btn-small" onclick="submit_delete_batch()"><span>{$Think.lang.ds_del}</span></a>
           </td>
        </tr>
       {/notempty}
      </tfoot>
    </table>
    {$show_page}
</div>
<script type="text/javascript" src="{$Think.ADMIN_SITE_ROOT}/js/jquery.edit.js" charset="utf-8"></script>
<script type="text/javascript">
    function submit_delete(ids_str){
        _uri = ADMINSITEURL+"/Storeclass/store_class_del.html?storeclass_id=" + ids_str;
        dsLayerConfirm(_uri,'{$Think.lang.ds_ensure_del}');
    }
</script>