{include file="public/header" /}



<div class="page">
    <form method="post" id="admin_form">
        <table class="ds-default-table">
            <tbody>
                <tr class="noborder"> 
                    <td class="required w120">{$Think.lang.admin_index_username}</td>
                    <td class="vatop rowform">{$admin.admin_name}</td>
                </tr>
                <tr class="noborder"> 
                    <td class="required w120">{$Think.lang.admin_edit_admin_pw}</td>
                    <td class="vatop rowform"><input id="new_pw" name="new_pw" value="" class="input-txt" type="password"></td>
                    <td class="vatop tips">{$Think.lang.admin_edit_pwd_tip1}</td>
                </tr>
                <tr class="noborder"> 
                    <td class="required w120">{$Think.lang.admin_edit_admin_pw2}</td>
                    <td class="vatop rowform"><input id="new_pw2" name="new_pw2" value="" class="input-txt" type="password"></td>
                    <td></td>
                </tr>
                <tr class="noborder"> 
                    <td class="required w120">{$Think.lang.gadmin_name}</td>
                    <td class="vatop rowform">
                        <select name="gid">
                            {foreach name="gadmin" item="v"}
                            <option value="{$v.gid}">{$v.gname}</option>
                            {/foreach}
                        </select>
                    </td>
                    <td class="vatop tips">{$Think.lang.admin_add_gid_tip}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="tfoot">
                    <td colspan="15"><a href="JavaScript:void(0);" class="btn" id="submitBtn">{$Think.lang.ds_confirm_submit}</a></td>
                </tr>					
            </tfoot>
        </table>
    </form>
</div>

<script>
//按钮先执行验证再提交表单
                    $(function() {
                        $("#submitBtn").click(function() {
                            if ($("#admin_form").valid()) {
                                $("#admin_form").submit();
                            }
                        });
                    });
                    $(document).ready(function() {
                        $("#admin_form").validate({
                            errorPlacement: function(error, element) {
                                error.appendTo(element.parent().parent().find('td:last'));
                            },
                            rules: {
                                new_pw: {
                                    minlength: 6,
                                    maxlength: 20
                                },
                                new_pw2: {
                                    minlength: 6,
                                    maxlength: 20,
                                    equalTo: '#new_pw'
                                },
                                gid: {
                                    required: true
                                }
                            },
                            messages: {
                                new_pw: {
                                    minlength: '{$Think.lang.admin_add_password_max}',
                                    maxlength: '{$Think.lang.admin_add_password_max}'
                                },
                                new_pw2: {
                                    minlength: '{$Think.lang.admin_add_password_max}',
                                    maxlength: '{$Think.lang.admin_add_password_max}',
                                    equalTo: '{$Think.lang.admin_edit_repeat_error}'
                                },
                                gid: {
                                    required : '{$Think.lang.admin_add_gid_null}',
                                }
                            }
                        });
                    });
</script>