body {
	word-break: break-all;
	overflow: visible;
}

a {
	color: #0374D5;
}

a:hover {
	text-decoration: underline;
}

img {
	max-width: 100%
}

.PytReplylook {
	background-color: lightpink;
}