.menuDetail {
    width: 1020px;
    height: 724px;
    background-color: #ffffff;
    margin-bottom: 47px;
}

.menuDetail .main_content {
    padding: 0 40px 40px;
}

.menuDetail .main_content .newhelp_li {
    padding: 40px 0;
    border-bottom: 1px solid #ededed;
}

.menuDetail .main_content .newhelp_ask {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #3d3d3f;
    margin-bottom: 20px;
}

/* 贷贷狐圈子 */
.circle {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
}
.circle img{
    width: 159px;
	height: 160px;
}
.wechat {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #3d3d3f;
    margin: 38px 0 28px;
}
/* 关于我们 */
.aboutUs{
padding: 96px 60px 0;
}
.aboutUs img{
    width: 242px;
	height: 94px;
}
.aboutUs p{
    font-size: 16px;
	line-height: 24px;
	letter-spacing: 1px;
	color: #3d3d3f;
}
/* 商务合作 */
.collaborate{
    padding: 70px 40px 0;
}
.collaborate p{
    font-size: 16px;
	line-height: 18px;
	letter-spacing: 1px;
	color: #3d3d3f;
}
.collaborate li{
    float: left;
    margin-right: 200px;
}
.collaborate li:last-child{
    margin-right: 0;
}