/* 卡片信息 */
.brief h5{
    font-size: 16px;
	line-height: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    color: #3d3d3f;
    margin-bottom: 30px;
}
.brief p{
    font-size: 14px;
	line-height: 24px;
	letter-spacing: 1px;
	color: #202124;
}
.card_info_right p{
    font-size: 16px;
	line-height: 18px;
    color: #202124;
    margin-bottom: 40px;
}