{include file="public/header" /}


<div class="page">
    <form id="add_form" method="post">
        <table class="ds-default-table">
            <tbody>
            <tr class="noborder">
                <td class="required w150"><label class="validation" for="promotion_booth_price">推荐展位价格{$Think.lang.ds_colon}</label></td>
                <td class="vatop rowform">
                    <input type="text" id="promotion_booth_price" name="promotion_booth_price" value="{$setting.promotion_booth_price}" class="txt">
                </td>
                <td class="vatop tips">购买单位为月(30天)，购买后卖家可以在所购买周期内推荐商品，在商品列表热卖商品中随机显示。</td>
            </tr>
            <tr class="noborder">
                <td class="required"><label class="validation" for="promotion_booth_goods_sum">允许推荐商品最大数量{$Think.lang.ds_colon}</label></td>
                <td class="vatop rowform">
                    <input type="text" id="promotion_booth_goods_sum" name="promotion_booth_goods_sum" value="{$setting.promotion_booth_goods_sum}" class="txt">
                </td>
                <td class="vatop tips">每个店铺推荐商品的最大数量。</td>
            </tr>
            </tbody>
            <tfoot>
            <tr class="tfoot">
                <td colspan="15"><a href="JavaScript:void(0);" class="btn" id="submitBtn"><span>{$Think.lang.ds_submit}</span></a></td>
            </tr>
            </tfoot>
        </table>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $("#submitBtn").click(function(){
            $("#add_form").submit();
        });
        //页面输入内容验证
        $("#add_form").validate({
            errorPlacement: function(error, element){
                error.appendTo(element.parent().parent().find('td:last'));
            },
            rules : {
                promotion_booth_price: {
                    required : true,
                    digits : true
                },
                promotion_booth_goods_sum: {
                    required : true,
                    digits : true,
                    min : 1
                }
            },
            messages : {
                promotion_booth_price: {
                    required : '请填写展位价格',
                    digits : '请填写展位价格'
                },
                promotion_booth_goods_sum: {
                    required : '不能为空，且不小于1的整数',
                    digits : '不能为空，且不小于1的整数',
                    min : '不能为空，且不小于1的整数'
                }
            }
        });
    });
</script> 