{include file="public/header" /}



<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>{$Think.lang.ds_consulting}</h3>
                <h5></h5>
            </div>
            {include file="public/admin_items" /}
        </div>
    </div>

    <div class="fixed-empty"></div>
    
    <div class="explanation" id="explanation">
        <div class="title" id="checkZoom">
            <h4 title="{$Think.lang.ds_explanation_tip}">{$Think.lang.ds_explanation}</h4>
            <span id="explanationZoom" title="{$Think.lang.ds_explanation_close}" class="arrow"></span>
        </div>
        <ul>
            <li>{$Think.lang.consulting_type_list_help1}</li>
            <li>{$Think.lang.consulting_type_list_help2}</li>
        </ul>
    </div>
    
    <form method="post" name="form1">
        <table class="ds-default-table">
            {notempty name="type_list"}
            <thead>
            <tr class="thead">
                <th class="w24"></th>
                <th class="w48 sort">{$Think.lang.ds_sort}</th>
                <th>{$Think.lang.consulting}{$Think.lang.consulting_type_name}</th>
                <th class="w120">{$Think.lang.ds_handle}</th>
            </tr>
            </thead>
            {foreach name="type_list" item="val"}
            <tbody>
            <tr id="ds_row_{$val.consulttype_id}">
                <td><input type="checkbox" class="checkitem" value="{$val.consulttype_id}"/></td>
                <td>{$val.consulttype_sort}</td>
                <td>{$val.consulttype_name}</td>
                <td>
                    <a href="javascript:dsLayerOpen('{:url('Consulting/type_edit',['consulttype_id'=>$val.consulttype_id])}','咨询-{$val.consulttype_name}')" class="dsui-btn-edit"><i class="iconfont"></i>{$Think.lang.ds_edit}</a>
                    <a href="javascript:dsLayerConfirm('{:url('Consulting/type_del',['consulttype_id'=>$val.consulttype_id])}','{$Think.lang.ds_ensure_del}',{$val.consulttype_id})" class="dsui-btn-del"><i class="iconfont"></i>{$Think.lang.ds_del}</a>
                </td>
            </tr>
            </tbody>
            {/foreach}
            {else /}
            <tbody>
            <tr class="no_data">
                <td colspan="20">{$Think.lang.ds_no_record}</td>
            </tr>
            </tbody>
            {/notempty}
            <tfoot>
            {notempty name="type_list"}
            <tr class="tfoot">
                <td><input type="checkbox" class="checkall" id="checkallBottom"></td>
                <td colspan="16"><label for="checkallBottom">{$Think.lang.ds_select_all}</label>
                    &nbsp;&nbsp;<a href="JavaScript:void(0);" class="btn btn-small" onclick="submit_delete_batch()"><span>{$Think.lang.ds_del}</span></a>
                </td>
            </tr>
            {/notempty}
            </tfoot>
        </table>
    </form>
</div>