body{text-align:center;}
.header{position:fixed;left:0;top:0;width:80%;height:60px;line-height:60px;background:#108cee;padding:0 10%;z-index:10000;}
.header h1{color:#fff;font-size:20px;font-weight:600;text-align:center;}
.install-box{margin:80px auto 0;background:#fff;border-radius:10px;padding:20px;overflow:hidden;box-shadow: 5px 5px 15px #888888;display:inline-block;width:680px;min-height:500px;}
.protocol{text-align:left;height:400px;overflow-y:auto;padding:10px;color:#333;}
.protocol h2{text-align:center;font-size:16px;color:#000;}
.step-btns{padding:20px 0 10px 0;}
.copyright{padding:25px 0;}
.copyright,.copyright a{color:#ccc;}

.ui-steps {
  font-size: 0px;
  overflow: hidden;
  line-height: 0px;
  margin: 18px 0px;
}
.ui-steps .wrap {
  display: inline-block;
}
.ui-steps .wrap > div {
  width: 195px;
  height: 32px;
  display: inline-block;
  line-height: 32px;
  vertical-align: top;
  font-size: 12px;
  position: relative;
}
.ui-steps .wrap > div > label {
  margin-left: 26px;
  cursor: default;
}
.ui-steps .triangle-right {
  display: inline-block;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 16px;
  position: absolute;
  right: -31px;
  z-index: 1;
}
.ui-steps .triangle-right-bg {
  display: inline-block;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 16px;
  position: absolute;
  right: -31px;
  z-index: 1;
  border-width: 20px;
  right: -40px;
  border-color: transparent transparent transparent #FFF;
  top: -4px;
}
.ui-steps .round {
  display: inline-block;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-align: center;
  line-height: 16px;
}
.ui-steps .round .sui-icon {
  vertical-align: -1px;
}
.ui-steps .round + span:before {
  content: '\00a0';
}
.ui-steps .finished {
  background-color: #28a3ef;
  color: #ffffff;
}
.ui-steps .finished .triangle-right {
  border-color: transparent transparent transparent #28a3ef;
}
.ui-steps .finished .round {
  background-color: #ffffff;
  background-color: transparent\9;
  color: #28a3ef;
}
.ui-steps .finished .round > i {
  color: #28a3ef;
  font-size: 12px;
}
.ui-steps .current {
  background-color: #4cb9fc;
  color: #ffffff;
}
.ui-steps .current .triangle-right {
  border-color: transparent transparent transparent #4cb9fc;
}
.ui-steps .current .round {
  background-color: #ffffff;
  color: #4cb9fc;
  color: #FFF\9;
  background-color: transparent\9;
}
.ui-steps .todo {
  background-color: #eeeeee;
  color: #999999;
}
.ui-steps .todo .triangle-right {
  border-color: transparent transparent transparent #eeeeee;
}
.ui-steps .todo .round {
  background-color: #ffffff;
  background-color: transparent\9;
}
.steps-large .wrap > div {
  font-size: 14px;
  width: 243.75px;
  height: 40px;
  line-height: 40px;
}
.steps-large .wrap > div > label {
  font-size: 14px;
  margin-left: 30px;
}
.steps-large .triangle-right {
  border-width: 20px;
  right: -39px;
}
.steps-large .triangle-right-bg {
  border-width: 24px;
  right: -48px;
}
.steps-large .round {
  width: 18px;
  height: 18px;
  line-height: 18px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
.steps-auto {
  display: table;
  width: 100%;
}
.steps-auto .wrap {
  display: table-cell;
}
.steps-auto .wrap > div {
  width: 100%;
}
.ui-steps-round {
  font-size: 0px;
  overflow: hidden;
  line-height: 0px;
  margin: 18px 0px;
  padding: 0px 6px;
}
.ui-steps-round > div {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.ui-steps-round > div .wrap:before,
.ui-steps-round > div .wrap:after {
  display: table;
  content: "";
  line-height: 0;
}
.ui-steps-round > div .wrap:after {
  clear: both;
}
.ui-steps-round > div > label {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  line-height: 12px;
  height: 12px;
  margin-top: 6px;
  color: #28a3ef;
  cursor: default;
  text-align: center;
  width: 50%;
  margin-left: -25%;
  position: relative;
  left: 15px;
}
.ui-steps-round > div:first-child > label {
  width: auto;
  max-width: 50%;
  margin-left: 0;
  left: 0;
}
.ui-steps-round > div:last-child,
.ui-steps-round > div.last {
  width: 30px !important;
}
.ui-steps-round > div:last-child > label,
.ui-steps-round > div.last > label {
  position: absolute;
  width: auto;
  margin-left: 0;
  left: auto;
  right: 0;
}
.ui-steps-round > div .round {
  width: 22px;
  height: 22px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  color: #FFF;
  line-height: 22px;
  text-align: center;
  float: left;
}
.ui-steps-round > div .bar {
  margin: 10px 10px 0px 40px;
  width: 200px;
  height: 6px;
  vertical-align: middle;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.ui-steps-round > .finished .round {
  border: 4px #28a3ef solid;
  background-color: #28a3ef;
  color: #ffffff;
}
.ui-steps-round > .finished .bar {
  background-color: #28a3ef;
}
.ui-steps-round > .current .round {
  border: 4px #4cb9fc solid;
  background-color: #4cb9fc;
}
.ui-steps-round > .current .bar {
  background-color: #4cb9fc;
}
.ui-steps-round > .todo > label {
  color: #999999;
}
.ui-steps-round > .todo .round {
  border: 4px #d3d3d3 solid;
  background-color: #FFF;
  color: #999999;
}
.ui-steps-round > .todo .bar {
  background-color: #eeeeee;
}
.steps-round-auto {
  display: table;
  width: 100%;
}
.steps-round-auto > div {
  display: table-cell;
}
.steps-round-auto > div .bar {
  width: auto;
}
.steps-3 > div {
  width: 50%;
}
.steps-4 > div {
  width: 33%;
}
.steps-5 > div {
  width: 25%;
}
.steps-6 > div {
  width: 20%;
}
.steps-7 > div {
  width: 16%;
}
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-moz-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-ms-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-o-keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
.sui-progress {
  overflow: hidden;
  height: 22px;
  margin-bottom: 18px;
  background-color: #eee;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: none;
  position: relative;
}
.sui-progress .bar {
  width: 0%;
  height: 100%;
  padding: 2px 14px;
  padding-left: 0;
  padding-right: 0;
  color: #ffffff;
  float: left;
  font-size: 12px;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #28a3ef;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: width 0.6s ease;
  -moz-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}
.sui-progress .bar-text {
  position: absolute;
  color: #333333;
  text-align: center;
  width: 100%;
  padding: 2px 0;
}
.sui-progress.progress-small {
  height: 18px;
  line-height: 18px;
  font-size: 12px;
}
.sui-progress.progress-small .bar,
.sui-progress.progress-small .bar-text {
  padding: 0;
}
.sui-progress.progress-large {
  height: 26px;
  line-height: 22px;
  font-size: 14px;
}
.sui-progress.progress-xlarge {
  height: 30px;
  line-height: 27px;
  font-size: 18px;
}
.progress-striped .bar {
  background-color: #28a3ef;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
  -moz-background-size: 40px 40px;
  -o-background-size: 40px 40px;
  background-size: 40px 40px;
}
.sui-progress.active .bar {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -moz-animation: progress-bar-stripes 2s linear infinite;
  -ms-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}
.progress-danger .bar,
.sui-progress .bar-danger {
  background-color: #ea4a36;
}
.progress-danger.progress-striped .bar,
.progress-striped .bar-danger {
  background-color: #ea4a36;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-success .bar,
.sui-progress .bar-success {
  background-color: #43cd6e;
}
.progress-success.progress-striped .bar,
.progress-striped .bar-success {
  background-color: #43cd6e;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-info .bar,
.sui-progress .bar-info {
  background-color: #5bc0de;
}
.progress-info.progress-striped .bar,
.progress-striped .bar-info {
  background-color: #5bc0de;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-warning .bar,
.sui-progress .bar-warning {
  background-color: #fac603;
}
.progress-warning.progress-striped .bar,
.progress-striped .bar-warning {
  background-color: #fac603;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.sui-hero-unit {
  padding: 60px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 200;
  line-height: 27px;
  color: inherit;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.sui-hero-unit h1 {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  color: inherit;
  letter-spacing: -1px;
}
.sui-hero-unit li {
  line-height: 27px;
}
.sui-loading.loading-large .icon-pc-loading {
  font-size: 60px;
}
.sui-loading.loading-xlarge .icon-pc-loading {
  font-size: 80px;
}
.sui-loading.loading-xxlarge .icon-pc-loading {
  font-size: 100px;
}
.sui-loading.loading-small .icon-pc-loading {
  font-size: 40px;
}
.sui-loading.loading-xsmall .icon-pc-loading {
  font-size: 30px;
}
.sui-loading.loading-xxsmall .icon-pc-loading {
  font-size: 20px;
}
.sui-loading.loading-dark .icon-pc-loading {
  color: #000000;
  opacity: 0.9;
}
.sui-loading.loading-light .icon-pc-loading {
  color: #555555;
  opacity: 0.2;
}
.sui-loading {
  text-align: center;
  display: block;
}
.sui-loading.loading-inline {
  display: inline-block;
}
.sui-loading .icon-pc-loading {
  -webkit-animation: rotation 2s infinite linear;
  -moz-animation: rotation 2s infinite linear;
  animation: rotation 2s infinite linear;
  display: inline-block;
  font-size: 50px;
  color: #28a3ef;
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.invisible {
  visibility: hidden;
}
.affix {
  position: fixed;
}
icon-pc-calendar:before {
  content: "\e60a";
}
.icon-pc-loading:before {
  content: "\e600";
}
.icon-pc-enter:before {
  content: "\e602";
}
.icon-pc-ww:before {
  content: "\c600";
}
.icon-pc-sound:before {
  content: "\c601";
}
.icon-pc-settings:before {
  content: "\c602";
}
.icon-pc-right:before {
  content: "\c603";
}
.icon-pc-right-circle:before {
  content: "\e601";
}
.icon-pc-refresh:before {
  content: "\c604";
}
.icon-pc-question-circle:before {
  content: "\c605";
}
.icon-pc-prev:before {
  content: "\c606";
}
.icon-pc-next:before {
  content: "\c607";
}
.icon-pc-list:before {
  content: "\c608";
}
.icon-pc-light:before {
  content: "\c609";
}
.icon-pc-info-circle:before {
  content: "\c60a";
}
.icon-pc-forbidden:before {
  content: "\c60b";
}
.icon-pc-error:before {
  content: "\c60c";
}
.icon-pc-error-circle:before {
  content: "\c60d";
}
.icon-pc-chevron-top:before {
  content: "\c60e";
}
.icon-pc-chevron-right:before {
  content: "\c60f";
}
.icon-pc-chevron-left:before {
  content: "\c610";
}
.icon-pc-chevron-bottom:before {
  content: "\c611";
}
.icon-pc-bell:before {
  content: "\c612";
}
.icon-pc-checkbox-checked:before {
  content: "\e607";
}
.icon-pc-checkbox-unchecked:before {
  content: "\e605";
}
.icon-pc-checkbox-halfchecked:before {
  content: "\e606";
}
.icon-pc-radio-checked:before {
  content: "\e604";
}
.icon-pc-radio-unchecked:before {
  content: "\e603";
}
.icon-pc-right-triangle-sign:before {
  content: "\e608";
}
.icon-pc-error-triangle-sign:before {
  content: "\e609";
}
.icon-pc-text:before {
  content: "\e60b";
}
.icon-pc-copy:before {
  content: "\e60c";
}
.icon-pc-bottom:before {
  content: "\e60d";
}
.icon-pc-top:before {
  content: "\e60e";
}
.icon-pc-picture:before {
  content: "\e60f";
}
.icon-pc-hot-area:before {
  content: "\e610";
}
.icon-pc-rotate:before {
  content: "\e611";
}
.icon-pc-chevron-right-circle-sign:before {
  content: "\e612";
}
.icon-pc-chevron-right-circle:before {
  content: "\e613";
}
.icon-pc-a:before {
  content: "\e614";
}
.icon-pc-plus-circle-sign:before {
  content: "\e615";
}
.icon-pc-plus-circle:before {
  content: "\e616";
}
.icon-pc-chevron-down-circle-sign:before {
  content: "\e617";
}
.icon-pc-chevron-down-circle:before {
  content: "\e618";
}
.icon-pc-arrow-up-circle-sign:before {
  content: "\e619";
}
.icon-pc-arrow-up-circle:before {
  content: "\e61a";
}
.icon-pc-arrow-down-circle-sign:before {
  content: "\e61b";
}
.icon-pc-arrow-down-circle:before {
  content: "\e61c";
}
.icon-pc-underline:before {
  content: "\e61d";
}
.icon-pc-italic:before {
  content: "\e61e";
}
.icon-pc-black:before {
  content: "\e61f";
}
.icon-pc-paint-bucket:before {
  content: "\e620";
}
.icon-pc-doc:before {
  content: "\e621";
}
.icon-pc-th:before {
  content: "\e622";
}
.icon-pc-hot-area-sign:before {
  content: "\e623";
}
.icon-pc-edit-circle:before {
  content: "\e624";
}
.icon-pc-undo:before {
  content: "\e625";
}
.icon-pc-redo:before {
  content: "\e626";
}