{include file="public/header" /}



<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>基本设置</h3>
                <h5></h5>
            </div>
            {include file="public/admin_items" /}
        </div>
    </div>

    <form method="post" name="settingForm" id="settingForm">
        <table class="ds-default-table">
            <tbody>
             <!-- 开启商品发布审核 -->
             <tr class="noborder">
                <td colspan="2" class="required"><label>{$Think.lang.is_goods_verify}:</label></td>
            </tr>
            <tr class="noborder">
                <td class="vatop rowform onoff">
                    <label for="goods_verify_1" class="cb-enable {eq name='list_setting.goods_verify' value='1'}selected{/eq}" title="{$Think.lang.open}"><span>{$Think.lang.open}</span></label>
                    <label for="goods_verify_0" class="cb-disable {eq name='list_setting.goods_verify' value='0'}selected{/eq}" title="{$Think.lang.close}"><span>{$Think.lang.close}</span></label>
                    <input type="radio" id="goods_verify_1" name="goods_verify" value="1"  {if $list_setting.goods_verify=='1'}checked=checked{/if}>>
                    <input type="radio" id="goods_verify_0" name="goods_verify" value="0" {if $list_setting.goods_verify=='0'}checked=checked{/if}>
                <td class="vatop tips">{$Think.lang.goods_verify_notice}</td>
            </tr>
            <!-- 开启闲置市场 -->
            <tr class="noborder">
                <td colspan="2" class="required"><label>{$Think.lang.flea_isuse}:</label></td>
            </tr>
            <tr class="noborder">
                <td class="vatop rowform onoff">
                    <label for="flea_isuse_1" class="cb-enable {eq name='list_setting.flea_isuse' value='1'}selected{/eq}" title="{$Think.lang.open}"><span>{$Think.lang.open}</span></label>
                    <label for="flea_isuse_0" class="cb-disable {eq name='list_setting.flea_isuse' value='0'}selected{/eq}" title="{$Think.lang.close}"><span>{$Think.lang.close}</span></label>
                    <input type="radio" id="flea_isuse_1" name="flea_isuse" value="1"  {if $list_setting.flea_isuse=='1'}checked=checked{/if}>
                    <input type="radio" id="flea_isuse_0" name="flea_isuse" value="0" {if $list_setting.flea_isuse=='0'}checked=checked{/if}>
                </td>
                <td class="vatop tips">{$Think.lang.flea_isuse_notice}</td>
            </tr>
            <!-- 促销开启 -->
            <tr class="noborder">
                <td colspan="2" class="required"><label>{$Think.lang.promotion_allow}:</label></td>
            </tr>
            <tr class="noborder">
                <td class="vatop rowform onoff">
                    <label for="promotion_allow_1" class="cb-enable {eq name='list_setting.promotion_allow' value='1'}selected{/eq}" title="{$Think.lang.open}"><span>{$Think.lang.open}</span></label>
                    <label for="promotion_allow_0" class="cb-disable {eq name='list_setting.promotion_allow' value='0'}selected{/eq}" title="{$Think.lang.close}"><span>{$Think.lang.close}</span></label>
                    <input type="radio" id="promotion_allow_1" name="promotion_allow" value="1" {if $list_setting.promotion_allow== '1'}checked=checked{/if}>
                    <input type="radio" id="promotion_allow_0" name="promotion_allow" value="0" {if $list_setting.promotion_allow== '0'}checked=checked{/if}>
                </td>
                <td class="vatop tips">{$Think.lang.promotion_notice}</td>
            </tr>
            <tr>
                <td colspan="2" class="required">{$Think.lang.groupbuy_allow}:</td>
            </tr>
            <tr class="noborder">
                <td class="vatop rowform onoff">
                    <label for="groupbuy_allow_1" class="cb-enable {eq name='list_setting.groupbuy_allow' value='1'}selected{/eq}" title="{$Think.lang.open}"><span>{$Think.lang.open}</span></label>
                    <label for="groupbuy_allow_0" class="cb-disable {eq name='list_setting.groupbuy_allow' value='0'}selected{/eq}" title="{$Think.lang.close}"><span>{$Think.lang.close}</span></label>
                    <input id="groupbuy_allow_1" name="groupbuy_allow" {if $list_setting.groupbuy_allow== '1'} checked=checked{/if} value="1" type="radio">
                    <input id="groupbuy_allow_0" name="groupbuy_allow" {if $list_setting.groupbuy_allow== '0'} checked=checked{/if} value="0" type="radio">
                </td>
                <td class="vatop tips">{$Think.lang.groupbuy_isuse_notice}</td>
            </tr>

            <tr class="noborder">
                <td colspan="2" class="required"><label>{$Think.lang.points_isuse}:</label></td>
            </tr>
            <tr class="noborder">
                <td class="vatop rowform onoff">
                    <label for="points_isuse_1" class="cb-enable {eq name='list_setting.points_isuse' value='1'}selected{/eq}" ><span>{$Think.lang.points_isuse_open}</span></label>
                    <label for="points_isuse_0" class="cb-disable {eq name='list_setting.points_isuse' value='0'}selected{/eq}" ><span>{$Think.lang.points_isuse_close}</span></label>
                    <input type="radio" id="points_isuse_1" name="points_isuse" value="1" {if $list_setting.points_isuse=='1'}checked=checked{/if}>
                    <input type="radio" id="points_isuse_0" name="points_isuse" value="0" {if $list_setting.points_isuse=='0'} checked=checked {/if}>
                </td>
                <td class="vatop tips">{$Think.lang.points_isuse_notice}</td>
            </tr>
            <tr>
                <td colspan="2" class="required">{$Think.lang.open_pointshop_isuse}:</td>
            </tr>
            <tr class="noborder">
                <td class="vatop rowform onoff">
                    <label for="pointshop_isuse_1" class="cb-enable {eq name='list_setting.pointshop_isuse' value='1'}selected{/eq}" title="{$Think.lang.ds_open}"><span>{$Think.lang.ds_open}</span></label>
                    <label for="pointshop_isuse_0" class="cb-disable {eq name='list_setting.pointshop_isuse' value='0'}selected{/eq}" title="{$Think.lang.ds_close}"><span>{$Think.lang.ds_close}</span></label>
                    <input id="pointshop_isuse_1" name="pointshop_isuse" {if $list_setting.pointshop_isuse== '1'} checked=checked {/if} value="1" type="radio">
                    <input id="pointshop_isuse_0" name="pointshop_isuse" {if $list_setting.pointshop_isuse== '0'} checked=checked {/if} value="0" type="radio">
                </td>
                <td class="vatop tips">{$Think.lang.open_pointshop_isuse_notice}</td>
            </tr>
            <tr>
                <td colspan="2" class="required">{$Think.lang.open_pointprod_isuse}:</td>
            </tr>
            <tr class="noborder">
                <td class="vatop rowform onoff">
                    <label for="pointprod_isuse_1" class="cb-enable {eq name='list_setting.pointprod_isuse' value='1'}selected{/eq}" title="{$Think.lang.open}"><span>{$Think.lang.open}</span></label>
                    <label for="pointprod_isuse_0" class="cb-disable {eq name='list_setting.pointprod_isuse' value='0'}selected{/eq}" title="{$Think.lang.close}"><span>{$Think.lang.close}</span></label>
                    <input id="pointprod_isuse_1" name="pointprod_isuse" {if $list_setting.pointprod_isuse== '1'} checked=checked {/if} value="1" type="radio">
                    <input id="pointprod_isuse_0" name="pointprod_isuse" {if $list_setting.pointprod_isuse== '0' } checked=checked {/if}} value="0" type="radio">
                </td>
                <td class="vatop tips">{$Think.lang.open_pointprod_isuse_notice}</td>
            </tr>
            <tr>
                <td colspan="2" class="required">{$Think.lang.voucher_allow}:</td>
            </tr>
            <tr class="noborder">
                <td class="vatop rowform onoff">
                    <label for="voucher_allow_1" class="cb-enable {if $list_setting.voucher_allow == '1'}selected{/if}" title="{$Think.lang.open}"><span>{$Think.lang.open}</span></label>
                    <label for="voucher_allow_0" class="cb-disable {if $list_setting.voucher_allow == '0'}selected{/if}" title="{$Think.lang.close}"><span>{$Think.lang.close}</span></label>
                    <input id="voucher_allow_1" name="voucher_allow" {if $list_setting.voucher_allow == '1'} checked=checked {/if} value="1" type="radio">
                    <input id="voucher_allow_0" name="voucher_allow" {if $list_setting.voucher_allow == '0'} checked=checked {/if} value="0" type="radio">
                </td>
                <td class="vatop tips">{$Think.lang.voucher_allow_notice}</td>
            </tr>
            
            <tr>
                <td colspan="2" class="required">{$Think.lang.mgdiscount_allow}:</td>
            </tr>
            <tr class="noborder">
                <td class="vatop rowform onoff">
                    <label for="mgdiscount_allow_1" class="cb-enable {if $list_setting.mgdiscount_allow == '1'}selected{/if}" title="{$Think.lang.open}"><span>{$Think.lang.open}</span></label>
                    <label for="mgdiscount_allow_0" class="cb-disable {if $list_setting.mgdiscount_allow == '0'}selected{/if}" title="{$Think.lang.close}"><span>{$Think.lang.close}</span></label>
                    <input id="mgdiscount_allow_1" name="mgdiscount_allow" {if $list_setting.mgdiscount_allow == '1'} checked=checked {/if} value="1" type="radio">
                    <input id="mgdiscount_allow_0" name="mgdiscount_allow" {if $list_setting.mgdiscount_allow == '0'} checked=checked {/if} value="0" type="radio">
                </td>
                <td class="vatop tips">{$Think.lang.mgdiscount_allow_notice}</td>
            </tr>
            
            </tbody>
        </table>

        <table class="ds-default-table">
            <thead>
            <tr class="space">
                <th colspan="16">{$Think.lang.points_ruletip}:</th>
            </tr>
            <tr class="thead">
                <th>{$Think.lang.points_item}</th>
                <th>{$Think.lang.points_number}</th>
            </tr>
            </thead>
            <tbody>
            <tr class="hover">
                <td class="w200">{$Think.lang.points_number_reg}</td>
                <td><input id="points_reg" name="points_reg" value="{$list_setting.points_reg}" class="txt" type="text" style="width:60px;"></td>
            </tr>
            <tr class="hover">
                <td>{$Think.lang.points_number_login}</td>
                <td><input id="points_login" name="points_login" value="{$list_setting.points_login}" class="txt" type="text" style="width:60px;"></td>
            </tr>
            <tr class="hover">
                <td>{$Think.lang.points_number_comments}</td>
                <td><input id="points_comments" name="points_comments" value="{$list_setting.points_comments}" class="txt" type="text" style="width:60px;"></td>
            </tr>
            <tr class="hover">
                <td>签到积分</td>
                <td><input id="points_signin" name="points_signin" value="{$list_setting.points_signin}" class="txt" type="text" style="width:60px;"></td>
            </tr>
            <tr class="hover">
                <td>邀请注册</td>
                <td><input id="points_invite" name="points_invite" value="{$list_setting.points_invite}" class="txt" type="text" style="width:60px;">邀请非会员注册时给邀请人的积分数
                </td>
            </tr>
            <tr class="hover">
                <td>返利比例</td>
                <td><input id="points_rebate" name="points_rebate" value="{$list_setting.points_rebate}" class="txt" type="text" style="width:35px;">% &nbsp;&nbsp;&nbsp;被邀请会员购买商品时给邀请人返的积分数(例如设为5%，被邀请人购买100元商品，返给邀请人5积分)
                </td>
            </tr>
            </tbody>
        </table>
        <table class="ds-default-table">
            <thead>
            <tr class="thead">
                <th colspan="2">{$Think.lang.points_number_order}</th>
            </tr>
            </thead>
            <tbody>
            <tr class="hover">
                <td class="w200">{$Think.lang.points_number_orderrate}</td>
                <td><input id="points_orderrate" name="points_orderrate" value="{$list_setting.points_orderrate}" class="txt" type="text" style="width:60px;">
                    {$Think.lang.points_number_orderrate_tip}
                </td>
            </tr>
            <tr class="hover">
                <td>{$Think.lang.points_number_ordermax}</td>
                <td><input id="points_ordermax" name="points_ordermax" value="{$list_setting.points_ordermax}" class="txt" type="text" style="width:60px;">
                    {$Think.lang.points_number_ordermax_tip}
                </td>
            </tr>


            </tbody>
            <tfoot>
            <tr class="tfoot">
                <td colspan="2"><a href="JavaScript:void(0);" class="btn" id="submitBtn"><span>{$Think.lang.ds_submit}</span></a></td>
            </tr>
            </tfoot>
        </table>
    </form>
</div>

<script>

    $(function(){$("#submitBtn").click(function(){
        if($("#settingForm").valid()){
            $("#settingForm").submit();
        }
    });
    });
    //
    $(document).ready(function(){
        $("#settingForm").validate({
            errorPlacement: function(error, element){
                error.appendTo(element.parent().parent().find('td:last'));
            },
            rules : {
                points_reg:{
                    number:true,
                    min:0
                },
                points_login :{
                    number:true,
                    min:0
                },
                points_comments :{
                    number:true,
                    min:0
                },
                points_signin :{
                    number:true,
                    min:0
                },
                points_invite :{
                    number:true,
                    min:0
                },
                points_rebate :{
                    number:true,
                    min:0
                },
                points_orderrate :{
                    number:true,
                    min:0
                },
                points_ordermax :{
                    number:true,
                    min:0
                }
            },
            messages : {
                points_reg:{
                    number:'请输入数字',
                    min:'输入值不能小于0'
                },
                points_login :{
                    number:'请输入数字',
                    min:'输入值不能小于0'
                },
                points_comments :{
                    number:'请输入数字',
                    min:'输入值不能小于0'
                },
                points_signin :{
                    number:'请输入数字',
                    min:'输入值不能小于0'
                },
                points_invite :{
                    number:'请输入数字',
                    min:'输入值不能小于0'
                },
                points_rebate :{
                    number:'请输入数字',
                    min:'输入值不能小于0'
                },
                points_orderrate :{
                    number:'请输入数字',
                    min:'输入值不能小于0'
                },
                points_ordermax :{
                    number:'请输入数字',
                    min:'输入值不能小于0'
                }
            }
        });
    });
</script>