<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>邮件模板列表</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
    {include file="public/css"}
    {include file="public/js"}
</head>
<body>

<!-- 后台面包屑导航 -->
{:get_admin_breadcrumb()}

<blockquote class="layui-elem-quote" style="margin-top:10px;">说明：请先配置邮件接口，默认无需添加邮件模板</blockquote>
<!-- 搜索表单 -->
{:create_search_form("添加邮件模板",$keywordsData,$customSingleField,$groupData,$dateData,$orderData)}
<div class="layui-form">
  <table class="layui-table" id="demo">
    <colgroup>
      <col width="50">
      <col width="50">
      <col width="80">
      <col width="80">
      <col width="180">
      <col width="80">
      <col width="80">
    </colgroup>
    <thead>

      <tr>
        <th><input type="checkbox"  id="selectAll"  lay-skin="primary" lay-filter="selectAll"></th>
        <th>邮件ID</th>
        <th>邮件名</th>
        <th>调用名</th>
        <th>内容</th>
        <th>状态</th>
        <th>操作</th>
      </tr> 
    </thead>
    <tbody>

{volist name='list' id='vo'}
      <tr>
        <td><input type="checkbox" name="id[]" class="id " title=""  lay-skin="primary" value="{$vo.id}"></td>
        <td>{$vo.id}</td>
        <td>{$vo.tpl_name}</td>
        <td>{$vo.use_name}</td>
        <td>{$vo.explain}</td>
        <td>{if $vo.status == 1}<span class="layui-badge layui-bg-blue">开启</span>{else}<span class="layui-badge layui-bg-gray">关闭</span>{/if}</td>
        <td>
        <div class="layui-btn-group">
          <button class="layui-btn layui-btn-sm layui-btn-normal" id="edit" onclick="blank('{:url("email/edit",array("id"=>$vo["id"]))}')"> <i class="layui-icon">&#xe642;</i></button>
          <button class="layui-btn layui-btn-sm layui-btn-primary" onclick="del('{:url("email/del",array("id"=>$vo["id"]))}')"> <i class="layui-icon">&#xe640;</i></button>
         </div>
 </td>
      </tr>
{/volist}

    </tbody>
  </table>
<!-- 搜索为空显示 -->
{if empty($list)}
 <div class="layui-form-item">
    <div class="empty">
     <div class="img"></div>
     <p>暂无内容</p></div>
 </div>
</div>
{/if}

</div>

<div id="pages">{$page|raw}</div>
<div class="layui-btn-group demoTable">
  <button class="layui-btn layui-btn-primary" id="del" data-type="getCheckData"> <i class="layui-icon">&#xe640;</i> 批量删除</button>
</div>

<script>
$(function(){
 //全选批量删除
        var id = []; //定义空数组
        var url ="{:url('email/del')}"; //请求的url
        var data = {"id":id};   //传递的表单数据
        var delButton = "#del"; //删除节点class 或者ID
        var checkboxClass = ".id"; //多选框class
       

         $(delButton).click(function(){
              $(checkboxClass).each(function() {
              if(this.checked == true){
                   id.push($(this).val()); 
              }
              });              
         if(id.length == 0){
            parent.layer.alert('你没有选中任何分类',{title:'批量删除提示'});
         }else{
                     var index =parent.layer.confirm('批量删除后，数据不可恢复', {
                      btn: ['确定删除','取消'] //按钮
                      ,title:'是否批量删除'
                      ,shadeClose:true
                      ,icon: 3
                      ,anim: 5  //动画类型
                    }, function(){
                      parent. layer.close(index);
                    // 确定ajax 删除数据
                                $.post(url,data        
                                     ,function(json){
                                      if(json.code == 0){
                                          layer.msg(json.msg);
                                               setTimeout(function(){ 
                                                     window.location.reload();  //页面刷新
                                                },1000);
                                           }
                                         }
                                       );

                    }, function(){
                       // 取消

                    });

         }

    });
  $("#add").on("click",function(){
    blank('{:url("email/add")}','添加邮件模板','580px','80%');
  });
});


</script>
</body>

</html>