{include file="public/header" /}

<div class="install-box">
<div class="ui-steps-round steps-round-auto steps-4">
  <div class="finished">
    <div class="wrap">
      <div class="round">1</div>
      <div class="bar"></div>
    </div>
    <label>安装协议</label>
  </div>
  <div class="todo">
    <div class="wrap">
      <div class="round">2</div>
      <div class="bar"></div>
    </div>
    <label>环境检测</label>
  </div>
  <div class="todo">
    <div class="wrap">
      <div class="round">3</div>
      <div class="bar"></div>
    </div>
    <label>程序安装</label>
  </div>
  <div class="todo last">
    <div class="wrap">
      <div class="round">4</div>
    </div>
    <label>成功</label>
  </div>
</div>
    <fieldset class="layui-elem-field site-demo-button">
        <legend>使用协议</legend>
        <div class="protocol">
            <p>
            
            <br>
                奇乐自媒体内容管理系统是一款商业软件，使用本软件商业版需要申请官方授权，以免产生不必要的版权纠纷。
            </br></br>
                版权所有 (c) {:date('Y',time())}，qilecms.com 。
            </br></br>
            感谢您选择奇乐自媒体内容管理系统，希望我们的努力能为您提供一个简单.快速、高效.稳定的建站解决方案。</br></br>
                奇乐自媒体内容管理系统官方网址为 <a href="http://www.qilecms.com" target="_blank">http://www.qilecms.com</a>，<br></br>
                产品交流社区网址为:<a href="http://bbs.qilecms.com" target="_blank">http://bbs.qilecms.com</a>。</br>
          </br></br>
         

            </p>
        </div>
    </fieldset>
    <div class="step-btns">
        <a href="?step=2" class="layui-btn layui-btn-big layui-btn-normal">同意协议并安装系统</a>
    </div>
</div>
{include file="public/footer" /}