{include file="public/header" /}
<div class="install-box">
<div class="ui-steps-round steps-round-auto steps-4">
  <div class="finished">
    <div class="wrap">
      <div class="round">1</div>
      <div class="bar"></div>
    </div>
    <label>安装协议</label>
  </div>
  <div class="finished">
    <div class="wrap">
      <div class="round">2</div>
      <div class="bar"></div>
    </div>
    <label>环境检测</label>
  </div>
  <div class="finished">
    <div class="wrap">
      <div class="round">3</div>
      <div class="bar"></div>
    </div>
    <label>程序安装</label>
  </div>
  <div class="finished ">
    <div class="wrap">
      <div class="round">4</div>
    </div>
    <label>成功</label>
  </div>
</div>


        <div class="protocol">
            
  <div style="padding-top:30px;line-height:100px;text-align:center;">
      <i class="layui-icon layui-icon-ok-circle" style="color:#28a3ef;font-size:150px;"></i>
      <div style="font-size:50px;">安装成功</div>
  </div>
  <p style="text-align:center;margin-top:60px;">
     <a href="/" class="layui-btn layui-btn-primary">访问前台</a>
     <a href="admin.php" class="layui-btn layui-btn-primary">登陆后台</a>
  </p>


</div>
        </div>


</div>
{include file="public/footer" /}