{include file="public/header" /}



<div class="page">

    <div class="fixed-empty"></div>
    <form id="link_form" enctype="multipart/form-data" method="post">
        <table class="ds-default-table">
            <tbody>
                <tr class="noborder">
                    <td class="required w120"><label class="validation" for="ap_name">{$Think.lang.ap_name}:</label></td>
                    <td class="vatop rowform"><input type="text" name="ap_name" id="ap_name" class="txt" value="{$ap.ap_name|default=''}">
                    </td>
                    <td class="vatop tips"></td>
                </tr>
                <tr class="noborder">
                    <td class="required">{$Think.lang.ap_isuse}:</td>
                    <td class="vatop rowform">
                        <ul>
                            <li>
                                <input name="ap_isuse" type="radio" value="1" {if $ap.ap_isuse eq '1'}checked="checked"{/if}>
                                <label>{$Think.lang.ap_use_s}</label>
                            </li>
                            <li>
                                <input type="radio" name="ap_isuse" value="0" {if $ap.ap_isuse eq '0'}checked="checked"{/if}>
                                <label>{$Think.lang.ap_not_use_s}</label>
                            </li>
                        </ul>
                    </td>
                    <td class="vatop tips"></td>
                </tr>
                <tr class="noborder">
                    <td class="required"><label class="validation" for="ap_width">{$Think.lang.ap_width}:</label></td>
                    <td class="vatop rowform"><input type="text" name="ap_width" class="txt" id="ap_width" value="{$ap.ap_width|default=''}"></td>
                    <td class="vatop tips">{$Think.lang.adv_pix}</td>
                </tr>
                <tr class="noborder">
                    <td class="required"><label class="validation" for="ap_height">{$Think.lang.ap_height}:</label></td>
                    <td class="vatop rowform"><input type="text" name="ap_height" class="txt" id="ap_height" value="{$ap.ap_height|default=''}"></td>
                    <td class="vatop tips">{$Think.lang.adv_pix}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="tfoot">
                    <td colspan="15" ><a href="JavaScript:void(0);" class="btn" id="submitBtn"><span>{$Think.lang.ds_submit}</span></a></td>
                </tr>
            </tfoot>
        </table>
    </form>
</div>
<script>
//按钮先执行验证再提交表单
    $(function () {
        $("#submitBtn").click(function () {
            if ($("#link_form").valid()) {
                $("#link_form").submit();
            }
        });
    });
//
    $(document).ready(function () {

        $('#link_form').validate({
            errorPlacement: function (error, element) {
                error.appendTo(element.parent().parent().find('td:last'));
            },
            rules: {
                ap_name: {
                    required: true
                },
                ap_width: {
                    required: true
                },
                ap_height: {
                    required: true
                },
            },
            messages: {
                ap_name: {
                    required: '{$Think.lang.ap_can_not_null}'
                },
                ap_width: {
                    required: '{$Think.lang.ap_input_digits_pixel}',
                },
                ap_height: {
                    required: '{$Think.lang.ap_input_digits_pixel}',
                },
            }
        });
    });
</script>