<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="copyright" content="Catfish CMS All Rights Reserved">
    <meta name="robots" content="noindex,noarchive">
    <title>{:lang('Catfish installation')}</title>
    <link rel="icon" href="{$domain}public/common/images/favicon.ico">
    <link rel="stylesheet" href="{$domain}public/common/css/bootstrap.min.css">
    <script src="{$domain}public/common/js/jquery.min.js"></script>
</head>
<body>