{include file="index/header" /}
<div class="row">
    <br><br><br>
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <div class="panel panel-default">
            {include file="index/head" /}
            <div class="panel-body">
                <textarea class="form-control" rows="15">{:lang('Catfish CMS software usage agreement

    Thank you for choosing Catfish CMS, hope that our products can help you to develop your website faster, better and stronger!

    Catfish CMS official website: www.catfish-cms.com

    By copying, downloading, installing, or otherwise using this SOFTWARE, YOU AGREE TO BE BOUND BY THE TERMS OF THIS AGREEMENT, AND INDICATE YOUR ACCEPTANCE OF ANY CHANGES WHICH MAY BE POSSIBLE UNDER ANY THIS AGREEMENT. IF YOU DO NOT AGREE TO THE TERMS OF THIS AGREEMENT, DO NOT COPY, DOWNLOAD, VIEW, INSTALL OR OTHERWISE USE THE SOFTWARE.

Permit your rights and scope:

    You can apply Catfish CMS to a web site, a non commercial or a commercial web site on the basis of full compliance with the end-user authorization agreement, without having to pay the software copyright licensing fees in advance.
    Within the terms of the agreement, you may make necessary modifications and enhancements to the Catfish CMS themes as needed to suit your site requirements.
    You can make Catfish CMS plug-ins as needed within the constraints of the agreement to extend functionality to suit your website requirements.
    The programs that modify the Catfish CMS software are prohibited, and any copyrighted information about the Catfish CMS contained in the program.
    You own the entire contents of a website built with the Catfish CMS and assume the legal obligations related to the content.
    You can get more services and support by purchasing a commercial license or purchasing a separate service, depending on the license you purchased or the relevant content determined in the service (technical support, service level, deadline, service method and service content). After the purchase, the technical support service within the specified scope is obtained within the specified period of the technical support service.

Constraints and restrictions:

    Catfish CMS is forbidden to rent, sell, mortgage or sub-license the Catfish CMS and associated commercial licenses without the official permission of Catfish CMS.
    In any event, that is to say, regardless of usage, modification or beautification, how well it is modified, simply by using the entire or any part of the Catfish CMS without the written permission of the author, the Catfish CMS Copyright (Version) Identify Anywhere in the Program , Words and links must be retained, and can not be cleared or modified.
    It is forbidden to develop any derivative, modified or third-party version for redistribution on the basis of the whole or any part of Catfish CMS.
    It is forbidden to use Catfish CMS software to build sites that violate the law or cause adverse social effects.
    If you fail to comply with the terms of this agreement, your authorization will be terminated and the rights granted will be recoverable and bear the corresponding legal liabilities.

Disclaimer:

    Catfish CMS software does not provide any warranty, express or implied, or any other form of representation. IN NO EVENT SHALL Catfish CMS Software BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY LOSS CAUSED BY USE OR INABILITY TO USE THE SOFTWARE, INCLUDING, BUT NOT LIMITED TO, DAMAGES FOR LOSS OF BUSINESS PROFITS OR BUSINESS INTERRUPTION OR BUSINESS LOSS, EVEN IF Catfish CMS software has been advised of the potential for such damages. Under no circumstances will Catfish CMS Software be liable for any direct, indirect, incidental, consequential, special, exemplary and punishable damages, whether based on warranty, contract, Infringement (including negligence) or for other reasons.
    Catfish CMS software assumes no responsibility whatsoever for any content contained in any website constructed with this software and any resulting copyright disputes, legal disputes and consequences. All responsibility is your own responsibility.
    Catfish CMS software may frequently provide "software" updates or upgrades, but Catfish CMS software does not have to be responsible for maintaining or updating the software.

Retention of rights and ownership

    Catfish CMS software reserves all rights not expressly granted to you in this agreement. Catfish CMS Software reserves the right to update this Agreement at any time without notice and the updated content will be posted on the official Catfish CMS Software website where you may visit the official Catfish CMS Software website for the latest license terms.

    Once you install Catfish CMS, you are deemed fully understand and accept the terms of this agreement, you enjoy the power of the above terms, but also by the relevant provisions of the constraints and restrictions.')}</textarea>
                <br>
                <div class="row text-center">
                    <a href="install/Index/step1"><button type="button" class="btn btn-primary">{:lang('Accept')}</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="index/footer" /}