{include file="public/header" /}



<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>{$Think.lang.ds_store_money}</h3>
                <h5></h5>
            </div>
            {include file="public/admin_items" /}
        </div>
    </div>

    <form id="inviter_form" method="post" enctype="multipart/form-data" name="form1" action="">
        <table class="ds-default-table">
                <tbody>
                    
                    <tr class="noborder"> 
                        <td class="required w120">{$Think.lang.store_withdraw_cycle}</td>
                        <td class="vatop rowform">
                            <input id="store_withdraw_cycle" name="store_withdraw_cycle" value="{$list_setting.store_withdraw_cycle}" class="input-txt" type="text">
                            <span class="err"></span>     
                        </td>
			<td class="vatop tips">{$Think.lang.store_withdraw_cycle_tips}</td>
                    </tr>
                    <tr class="noborder"> 
                        <td class="required w120">{$Think.lang.store_withdraw_min}</td>
                        <td class="vatop rowform">
                            <input id="store_withdraw_min" name="store_withdraw_min" value="{$list_setting.store_withdraw_min}" class="input-txt" type="text">
                        </td>
			<td class="vatop tips">{$Think.lang.store_withdraw_min_tips}</td>
                    </tr>
                    <tr class="noborder"> 
                        <td class="required w120">{$Think.lang.store_withdraw_max}</td>
                        <td class="vatop rowform">
                            <input id="store_withdraw_max" name="store_withdraw_max" value="{$list_setting.store_withdraw_max}" class="input-txt" type="text">
                        </td>
			<td class="vatop tips">{$Think.lang.store_withdraw_max_tips}</td>
                    </tr>                    
                </tbody>
                <tfoot>
                    <tr class="tfoot">
                        <td></td>
                        <td colspan="15"><a href="JavaScript:void(0);" class="btn" id="submitBtn">{$Think.lang.ds_submit}</a></td>
                    </tr>					
                </tfoot>
            </table>
    </form>
</div>

<script type="text/javascript">
    $(function() {
        $("#submitBtn").click(function() {
            if ($("#inviter_form").valid()) {
                $("#inviter_form").submit();
            }
        });
        
    });
</script>