.upload_wrap{ padding: 0; border: 0 }
.upload-button  { line-height:28px; text-decoration: none; color: #555; text-align:center;background: #F5F5F5;border:1px solid #DCDCDC;display: block; width:74px; height:28px; padding: 0px; position: absolute; z-index:1; left: 0px; }
a:hover.upload-button { background:#E6E6E6;}



.size182 {height: 182px;width: 182px;}
.dialog_body {border: 0px;}
.add_spec .add_link {color: #919191;}
.add_spec .add_link:hover {color: red;}
add_spec h2 {padding-left: 10px;}
.f_l {float: left;}
.mls_id {width: 0;filter: alpha(opacity=0);opacity: 0;}
.noSelect {color: #B9B9B9 !important;}
.flea_pic_list {background-color: #A7CAED;width: 648px;clear: both;margin-top: 10px;}
.flea_pic_list ul.menu {background-color: #FFF;width: 648px;height: 32px;border-bottom: solid 1px #A7CAED;}
.flea_pic_list .menu li {float: left;cursor: pointer;}
.flea_pic_list .menu li a {font-size: 12px;line-height: 20px;color: #555;height: 20px;float: left;padding: 6px 15px;margin: 0;}
.flea_pic_list .menu li a:hover {}
.flea_pic_list .menu li.active a, .goods-pictures .menu li.active a:hover {font-size: 13px;font-weight: 600;color: #36C;background-color: #FFF;line-height: 20px;height: 20px;float: left;padding: 5px 14px 7px 14px;border: solid 1px #A7CAED;border-bottom: 0;}
.flea_pic_list .content {width: 648px;background-color: #FFF;border: solid 1px #A7CAED;border-top: 0;}
.flea_pic_list .content .standard {padding: 10px 5px 10px 5px;*padding-bottom : 5px;}
.flea_pic_list .content .standard .big_pic {background-color: #FFF;margin-left: 7px;display: inline;width: 190px;height: 190px;float: left;}
.flea_pic_list .content .standard .big_pic .picture { /* if IE7/8/9*/*text-align: center;display: inline;width: 182px;height: 182px;float: left;padding: 2px;margin: 1px;border: dashed 1px #E7E7E7;}
.flea_pic_list .content .standard .small_pic {width: 430px;float: left;margin-left: 7px;display: inline;overflow: hidden;}
.flea_pic_list .content .standard .small_pic ul {width: 450px;float: left;display: inline;padding-bottom: 8px;}
.flea_pic_list .content .standard .small_pic ul li {display: inline;width: 80px;height: 114px;float: left;margin-right: 8px;position: relative;z-index: 99;cursor: pointer;}
.flea_pic_list .content .standard .small_pic .picture {background-color: #FFF; /* if IE7/8/9*/*text-align: center;width: 72px;height: 72px;float: left;padding: 1px;margin: 1px;border: dashed 1px #E7E7E7;position: absolute;top: 0px;left: 0px;}
.flea_pic_list .content .standard .small_pic .bg {display: none;width: 70px;height: 70px;border: 1px solid #09F;position: absolute;top: 3px;left: 3px;}
.flea_pic_list .content .standard .small_pic .operation {background-color: #09F;width: 70px;height: 17px;padding-top: 1px;position: absolute;z-index: 999;bottom: 0px;left: 0px;-moz-opacity: 0.75;opacity: .75;filter: alpha(opacity=75);}
.flea_pic_list .content .standard .small_pic .cut_in {background: url(../images/member/picedit.png) 0px -64px;width: 16px;height: 16px;float: left;margin-left: 7px;display: inline;}
.flea_pic_list .content .standard .small_pic .delete {background: url(../images/member/picedit.png) 0 0;display: inline;width: 16px;height: 16px;float: right;margin-right: 7px;}
.flea_pic_list .content .standard .small_pic .upload-btn {width: 74px;height: 32px;padding: 0px;position: absolute;*z-index: -1;z-index: 1;left: 1px;bottom: 0px;}
.flea_pic_list .content .standard .small_pic .titles {width: 66px;height: 16px;line-height: 15px;text-align: center;color: #3d3f3e;background: #fdf04c;border: 1px solid #ffba2f;position: absolute;top: 1px;left: 1px;z-index: 9999;}
.flea_pic_list .content .standard .small_pic .line {width: 66px;height: 2px;overflow: hidden;background: #d8deda;position: absolute;bottom: -3px;left: -1px;}
.flea_pic_list .content .standard .small_pic .help {line-height: 18px;background-color: #FFFAE3;width: 420px;height: 57px;clear: both;padding: 4px;border: 1px solid #F1E38B;}
.flea_pic_list .standard .small_pic .help p {padding-left: 24px;width: 398px;}
.flea_goods-attribute {width: 792px;margin-top: 0;border: none;}
.flea_goods-attribute dl dd p {float: none;}
.goods-gallery {width: 650px;}
.goods-gallery .list li{display: inline;float: left;margin: 5px; width:90px; height:90px;position: relative;z-index: 99;cursor: pointer; border:1px solid #ddd;}