{block name="mall_top"}{include file='default/base/mall_top'/}{/block}
{block name="member_header"}{include file='default/base/member_header'/}{/block}
<div class="member_center_back">
<div class="dsm-container">
    {block name="member_left"}{include file='default/base/member_left'/}{/block}
    <div class="right-layout">
        <div class="tabmenu">
            {block name="member_items"}{include file='default/base/member_items'/}{/block}
            {block name="member_btn"}{/block}
        </div>
        {block name="member_main"}{/block}
    </div>
    <div class="clear"></div>
</div>
</div>
{block name="mall_server"}{include file='default/base/mall_server'/}{/block}
{block name="mall_footer"}{include file='default/base/mall_footer'/}{/block}
