{block name="seller_top"}{include file='default/base/seller_top'/}{/block}
<div class="seller_main w1200">
    {block name="seller_left"}{include file='default/base/seller_left'/}{/block}
    <div class="seller_right">
        <div class="seller_items">
        {block name="seller_items"}{include file='default/base/seller_items'/}{/block}
        {block name="seller_btn"}{/block}
        </div>
        {block name="seller_main"}{/block}
    </div>
</div>
{block name="mall_footer"}{include file='default/base/mall_footer'/}{/block}
