<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{$html_title|default=$Think.config.site_name}</title>
        <meta name="renderer" content="webkit|ie-comp|ie-stand" />
        <meta name="keywords" content="{$seo_keywords|default=''}" />
        <meta name="description" content="{$seo_description|default=''}" />
        <link rel="stylesheet" href="{$Think.HOME_SITE_ROOT}/css/common.css">
        <link rel="stylesheet" href="{$Think.HOME_SITE_ROOT}/css/home_header.css">
        <link rel="stylesheet" href="{$Think.PLUGINS_SITE_ROOT}/font-awesome/css/font-awesome.min.css">
        <script>
            var BASESITEROOT = "{$Think.BASE_SITE_ROOT}";
            var HOMESITEROOT = "{$Think.HOME_SITE_ROOT}";
            var BASESITEURL = "{$Think.BASE_SITE_URL}";
            var HOMESITEURL = "{$Think.HOME_SITE_URL}";
        </script>
        <script src="{$Think.PLUGINS_SITE_ROOT}/jquery-2.1.4.min.js"></script>
        <script src="{$Think.PLUGINS_SITE_ROOT}/common.js"></script>
        <script src="{$Think.PLUGINS_SITE_ROOT}/js/jquery-ui/jquery-ui.min.js"></script>
        <script src="{$Think.PLUGINS_SITE_ROOT}/jquery.validate.min.js"></script>
        <script src="{$Think.PLUGINS_SITE_ROOT}/additional-methods.min.js"></script>
        <script src="{$Think.PLUGINS_SITE_ROOT}/layer/layer.js"></script>
        <script src="{$Think.PLUGINS_SITE_ROOT}/js/dialog/dialog.js" id="dialog_js" charset="utf-8"></script>
    </head>
    <body>
        <div id="append_parent"></div>
        <div id="ajaxwaitid"></div>
        <div class="public-top">
            <div class="w1200">
                <span class="top-link">
                    {$Think.lang.welcome_to} <em>{$Think.config.site_name}</em>
                </span>
                <ul class="login-regin">
                    {if $Think.session.member_id}
                    <li class="line"> <a href="{:url('Member/index')}">{$Think.session.member_name}</a></li>
                    <li> <a href="{:url('Login/Logout')}">{$Think.lang.exit}</a></li>
                    {else}
                    <li class="line"> <a href="{:url('Login/login')}">{$Think.lang.please_log}</a></li>
                    <li> <a href="{:url('Login/register')}">{$Think.lang.free_registration}</a></li>
                    {/if}
                </ul>
                <span class="top-link">
                    <strong style="margin-left:30px;">{$Think.lang.ds_attention}<a href="http://www.csdeshang.com" target="_blank">www.csdeshang.com</a> {$Think.lang.ds_continuous_update}</strong>&nbsp;
                    {$Think.lang.ds_purchase_authorization}：<a target="_blank" href="{$Think.HTTP_TYPE}wpa.qq.com/msgrd?v=3&uin=858761000&site=qq&menu=yes"><img border="0" src="{$Think.HTTP_TYPE}wpa.qq.com/pa?p=2:858761000:51" alt="{$Think.lang.click_here_send_message}" title="{$Think.lang.click_here_send_message}"/></a>
                </span>
                <ul class="quick_list">
                    <li>
                        <span class="outline"></span>
                        <span class="blank"></span>
                        <a href="{:url('Member/index')}">{$Think.lang.ds_user_center}<b></b></a>
                        <div class="dropdown-menu">
                            <ol>
                                <li><a href="{:url('Memberorder/index')}">{$Think.lang.ds_buying_goods}</a></li>
                                <li><a href="{:url('Memberfavorites/fglist')}">{$Think.lang.ds_care_about}</a></li>
                                <li><a href="{:url('Memberfavorites/fslist')}">{$Think.lang.ds_the_shop}</a></li>
                            </ol>
                        </div>
                    </li>
                    <li>
                        <span class="outline"></span>
                        <span class="blank"></span>
                        <a href="{:url('Seller/index')}">{$Think.lang.business_center}<b></b></a>
                        <div class="dropdown-menu">
                            <ol>
                                {if $Think.session.seller_id}
                                <li><a href="{:url('Seller/index')}">{$Think.lang.ds_shop_overview}</a></li>
                                <li><a href="{:url('Sellerorder/index')}">{$Think.lang.ds_member_path_store_order}</a></li>
                                <li><a href="{:url('Sellergoodsonline/index')}">{$Think.lang.promotion_goods_manage}</a></li>
                                {else /}
                                <li><a href="{:url('Showjoinin/index')}">{$Think.lang.tenants}</a></li>
                                <li><a href="{:url('Sellerlogin/login')}">{$Think.lang.merchant_login}</a></li>
                                {/if}
                            </ol>
                        </div>
                    </li>
                    <li>
                        <span class="outline"></span>
                        <span class="blank"></span>
                        <a href="{:url('Memberfavorites/fglist')}">{$Think.lang.ds_favorites}<b></b></a>
                        <div class="dropdown-menu">
                            <ol>
                                <li><a href="{:url('Memberfavorites/fglist')}">{$Think.lang.ds_merchandise_collection}</a></li>
                                <li><a href="{:url('Memberfavorites/fslist')}">{$Think.lang.ds_store_collect}</a></li>
                            </ol>
                        </div>
                    </li>
                    <li>
                        <span class="outline"></span>
                        <span class="blank"></span>
                        <a href="javascript:void(0)">{$Think.lang.ds_customer_center}<b></b></a>
                        <div class="dropdown-menu">
                            <ol>
                                <li><a href="{:url('Article/index',['ac_id'=>2])}">{$Think.lang.ds_help_center}</a></li>
                                <li><a href="{:url('Article/index',['ac_id'=>5])}">{$Think.lang.ds_after_sales_service}</a></li>
                                <li><a href="{:url('Article/index',['ac_id'=>6])}">{$Think.lang.ds_complaint_center}</a></li>
                            </ol>
                        </div>
                    </li>
                    <li class="moblie-qrcode">
                        <span class="outline"></span>
                        <span class="blank"></span>
                        <a href="javascript:void(0)">{$Think.lang.wechat_end}</a>
                        <div class="dropdown-menu">
                            <img src="{$Think.UPLOAD_SITE_URL}/{$Think.ATTACH_COMMON}/{$Think.config.site_logowx}" width="90" height="90" />
                        </div>
                    </li>
                    <!--
                    <li class="app-qrcode">
                        <span class="outline"></span>
                        <span class="blank"></span>
                        <a href="javascript:void(0)">APP</a>
                        <div class="dropdown-menu">
                            <img width="90" height="90" src="{$Think.UPLOAD_SITE_URL}/{$Think.ATTACH_COMMON}/{$Think.config.site_logowx}" />
                            <h3>扫描二维码</h3>
                            <p>下载手机客户端</p>
                        </div>
                    </li>
                    -->
                </ul>
            </div>
        </div>
        
        
        
        <!--左侧导航栏-->
<div class="ds-appbar">
    <div class="ds-appbar-tabs" id="appBarTabs">
        {if $Think.session.is_login}
        <div class="user" dstype="a-barUserInfo">
            <div class="avatar"><img src="{:get_member_avatar($Think.session.avatar)}"/></div>
            <p>{$Think.lang.sns_me}</p>
        </div>
        <div class="user-info" dstype="barUserInfo" style="display:none;"><i class="arrow"></i>
            <div class="avatar"><img src="{:get_member_avatar($Think.session.avatar)}"/></div>
            <dl>
                <dt>Hi, {$Think.session.member_name}</dt>
                <dd>{$Think.lang.ds_current_level}：<strong dstype="barMemberGrade">{$Think.session.level_name}</strong></dd>
                <dd>{$Think.lang.ds_current_experience}：<strong dstype="barMemberExp">{$Think.session.member_exppoints}</strong></dd>
            </dl>
        </div>
       {else /}
        <div class="user TA_delay" dstype="a-barLoginBox">
            <div class="avatar TA"><img src="{:get_member_avatar($Think.session.avatar)}"/></div>
            <p class="TA">{$Think.lang.login_notlogged}</p>
        </div>
        {/if}
        <ul class="tools">
            {if $Think.config.node_site_use eq '1'}
            <li><a href="javascript:void(0);" id="chat_show_user" class="chat TA_delay"><span class="fa fa-commenting"></span><span class="tit">{$Think.lang.ds_chat}</span><i id="new_msg" class="new_msg" style="display:none;"></i></a></li>
            {/if}
            <li><a href="javascript:void(0);" onclick="toglle_bar('rtoolbar_cart')" id="rtoolbar_cart" class="cart TA_delay"><span class="fa fa-shopping-cart"></span><span class="tit">{$Think.lang.ds_cart}</span><i id="rtoobar_cart_count" class="new_msg" style="display:none;"></i></a></li>
            <li><a href="javascript:void(0);" onclick="toglle_bar('compare')" id="compare" class="compare TA_delay"><span class="fa fa-exchange"></span><span class="tit">{$Think.lang.ds_comparison}</span></a></li>
            <li>
                <a href="javascript:void(0);" id="qrcode" class="qrcode TA_delay"><span class="fa fa-qrcode"></span>
                    <span class="tit tit-box">
                        {$Think.lang.ds_mobile_shopping_better}<br>
                        <img src="{$Think.const.HOME_SITE_URL}/qrcode?url={$Think.const.WAP_SITE_URL}" width="110" height="110" />
                        <em class="tips_arrow"></em>
                    </span>
                </a>
            </li>
            <li><a href="javascript:void(0);" onclick="$('html,body').animate({scrollTop: '0px'}, 500)" id="gotop" class="gotop TA_delay" style="position: fixed;bottom: 0"><span class="fa fa-chevron-up"></span><span class="tit">{$Think.lang.ds_top}</span></a></li>
        </ul>
        <div class="content-box" id="content-compare">
            <div class="top">
                <h3>{$Think.lang.ds_comparison}</h3>
                <a href="javascript:void(0);" class="close fa fa-angle-double-right" title="{$Think.lang.ds_hidden}"></a></div>
            <div id="comparelist"></div>
        </div>
        <div class="content-box" id="content-cart">
            <div class="top">
                <h3>{$Think.lang.ds_my_shopping_cart}</h3>
                <a href="javascript:void(0);" class="close fa fa-angle-double-right" title="{$Think.lang.ds_hidden}"></a></div>
            <div id="rtoolbar_cartlist"></div>
        </div>
    </div>
</div>
        
<script type="text/javascript">

    //动画显示边条内容区域
    $(function() {
        $(".close").click(function(){
            close_bar();
        });
        // 右侧bar用户信息
        $('div[dstype="a-barUserInfo"]').click(function(){
            $('div[dstype="barUserInfo"]').toggle();
        });
        // 右侧bar登录
        $('div[dstype="a-barLoginBox"]').click(function(){
            login_dialog();
        });

        {if $cart_goods_num > 0}
            $('#rtoobar_cart_count').html({$cart_goods_num}).show();
        {/if}
    });
    function toglle_bar(item){
        //判断侧边栏是否已拉出
        if(parseInt($('.ds-appbar').css('width')) == 36){
            $('.ds-appbar').css('width','306px');
        }
        //判断选中项是否已显示
        if(!$("#"+item).hasClass('active')){
            $('.tools li > a').removeClass('active');
            $("#"+item).addClass('active');
            $('.content-box').removeClass('active');
            
            switch(item){
                case 'rtoolbar_cart':
                    $("#rtoolbar_cartlist").load("{:url('Cart/ajax_load','type=html')}");
                    $("#content-cart").addClass('active');
                    break;
                case 'compare':   
                    loadCompare(false);
                    $("#content-compare").addClass('active');
                    break;
            }
        }else{
            //关闭
            close_bar();
            $(".chat-list").css("display",'none');
        }
        
    }
    function close_bar(){
        $('.tools li > a').removeClass('active');
        $('.content-box').removeClass('active');
        $('.ds-appbar').css('width','36px');
    }
</script> 
