<div class="server">
    <div class="ensure">
        <a href="#"></a>
        <a href="#"></a>
        <a href="#"></a>
        <a href="#"></a>
    </div>
    <div class="mall_desc">
        {notempty name="article_list"}
        {foreach name="article_list" item="art" length='4'}
        <dl> 
            <dt>{$art.ac_name}</dt>
            <dd>
                {notempty name="art.list"}
                {foreach name="art.list" item="list"}
                <a href="{if $list.article_url !=''}{$list.article_url}{else /}{:url('Article/show',['article_id'=>$list.article_id])}{/if}">{$list.article_title}</a>
                {/foreach}
                {/notempty}
            </dd>
        </dl>
        {/foreach}
        {/notempty}
        <dl class="mall_mobile">
            <dt>{$Think.lang.mobile_mall}</dt>
            <dd>
                <a href="#" class="join">
                    <img src="{$Think.const.HOME_SITE_URL}/qrcode?url={$Think.const.WAP_SITE_URL}" width="105" height="105" >
                </a>
            </dd> 
        </dl>
    </div>
</div>





