{include file="public/header" /}



<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>{$Think.lang.auto_set}</h3>
                <h5></h5>
            </div>
            {include file="public/admin_items" /}
        </div>
    </div>

    <form id="auto_set_form" method="post" enctype="multipart/form-data" name="form1">
        <table class="ds-default-table">
            <tbody>
            <tr class="noborder">
                <td class="w150"><label for="order_auto_receive_day">{$Think.lang.order_auto_receive_day}:</label></td>
                <td class="vatop rowform">
                    <input id="order_auto_receive_day" name="order_auto_receive_day" value="{$list_config.order_auto_receive_day|default=''}" type="text"> 天
                </td>
                <td class="vatop tips">已发货订单，自动确认收货的天数,自动确认收货时间设置区间为1-100数值</td>
            </tr>
            <tr class="noborder">
                <td class="w150"><label for="order_auto_cancel_day">{$Think.lang.order_auto_cancel_day}:</label></td>
                <td class="vatop rowform">
                    <input id="order_auto_cancel_day" name="order_auto_cancel_day" value="{$list_config.order_auto_cancel_day|default=''}" type="text"> 天
                </td>
                <td class="vatop tips">未付款订单，自动取消订单的天数,自动取消订单时间设置区间为1-50数值</td>
            </tr>
            <tr class="noborder">
                <td class="w150"><label for="code_invalid_refund">{$Think.lang.code_invalid_refund}:</label></td>
                <td class="vatop rowform">
                    <input id="code_invalid_refund" name="code_invalid_refund" value="{$list_config.code_invalid_refund|default=''}" type="text"> 天
                </td>
                <td class="vatop tips">兑换码未使用，兑换码过期自动退款时间设置区间为1-100数值</td>
            </tr>
            <tr class="noborder">
                <td class="w150"><label for="store_bill_cycle">{$Think.lang.store_bill_cycle}:</label></td>
                <td class="vatop rowform">
                    <input id="store_bill_cycle" name="store_bill_cycle" value="{$list_config.store_bill_cycle|default=''}" type="text"> 天
                </td>
                <td class="vatop tips">{$Think.lang.store_bill_cycle_tips}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr class="tfoot">
                <td></td>
                <td colspan="15"><a href="JavaScript:void(0);" class="btn" id="submitBtn">{$Think.lang.ds_confirm_submit}</a></td>
            </tr>
            </tfoot>
        </table>
    </form>
</div>


<script type="text/javascript">
    $(function() {
        //按钮先执行验证再提交表单
        $("#submitBtn").click(function() {
            if ($("#auto_set_form").valid()) {
                $("#auto_set_form").submit();
            }
        });
        $('#auto_set_form').validate({
            errorPlacement: function(error, element) {
                error.appendTo(element.parent().parent().find('td:last'));
            },
            rules: {
                order_auto_receive_day: {
                    required: true,
                    number: true,
                    range : [1,100]
                },
                order_auto_cancel_day: {
                    required: true,
                    number: true,
                    range : [1,50]
                },
                code_invalid_refund: {
                    required: true,
                    number: true,
                    range : [1,100]
                },
                store_bill_cycle: {
                    required: true,
                    number: true,
                    range : [1,100]
                },
                
                
            },
            messages: {
                order_auto_receive_day: {
                    required: '{$Think.lang.order_auto_receive_day_required}',
                    number:'{$Think.lang.ds_sort_number}',
                    range:"{$Think.lang.ds_range_1_100}",
                },
                order_auto_cancel_day: {
                    required: '{$Think.lang.order_auto_cancel_day_required}',
                    number:'{$Think.lang.ds_sort_number}',
                    range:"{$Think.lang.ds_range_1_50}",
                },
                code_invalid_refund: {
                    required: '{$Think.lang.code_invalid_refund_required}',
                    number:'{$Think.lang.ds_sort_number}',
                    range:"{$Think.lang.ds_range_1_100}",
                },
                store_bill_cycle: {
                    required: '{$Think.lang.store_bill_cycle_required}',
                    number:'{$Think.lang.ds_sort_number}',
                    range:"{$Think.lang.ds_range_1_100}",
                },
            }
        });
    });
</script>