{include file="public/header" /}



<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>{$Think.lang.im_set}</h3>
                <h5></h5>
            </div>
            {include file="public/admin_items" /}
        </div>
    </div>

     <form id="im_form" method="post" enctype="multipart/form-data" name="form1">
         <table class="ds-default-table">
                <tbody>
                    <tr class="noborder"> 
                        <td class="required w120">{$Think.lang.is_useim}</td>
                        <td class="vatop rowform">
                            <div class="onoff">
                                <label for="note_site_show1" class="cb-enable {if condition="$list_config.node_site_use eq 1"}selected{/if}">{$Think.lang.open_kefu_yes}</label>
                                <label for="note_site_show0" class="cb-disable {if condition="$list_config.node_site_use eq 0"}selected{/if}">{$Think.lang.open_kefu_no}</label>
                                <input id="note_site_show1" name="node_site_use" value="1" type="radio" {if condition="$list_config.node_site_use eq 1"} checked="checked"{/if}>
                                <input id="note_site_show0" name="node_site_use" value="0" type="radio" {if condition="$list_config.node_site_use eq 0"} checked="checked"{/if}>
                            </div>
                        </td>
                    </tr>
                    <tr class="noborder"> 
                        <td class="required w150"><label class="validation" for="node_site_url">{$Think.lang.node_site_url}:</label></td>
                        <td class="vatop rowform">
                            <input id="node_site_url" name="node_site_url" value="{$list_config.node_site_url|default=''}" class="w300" type="text">
                        </td>
                        <td class="vatop tips"></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="tfoot">
                        <td></td>
                        <td colspan="15"><a href="JavaScript:void(0);" class="btn" id="submitBtn">{$Think.lang.ds_confirm_submit}</a></td>
                    </tr>					
                </tfoot>
            </table> 
     </form>
</div>


<script type="text/javascript">
    $(function() {
        //按钮先执行验证再提交表单
        $("#submitBtn").click(function() {
            if ($("#im_form").valid()) {
                $("#im_form").submit();
            }
        });
        $('#im_form').validate({
            errorPlacement: function(error, element) {
                error.appendTo(element.parent().parent().find('td:last'));
            },
            rules: {
                node_site_url: {
                    required: true,
                },
            },
            messages: {
                node_site_url: {
                    required: '{$Think.lang.node_site_url_required}',
                },
            }
        });
    });
</script>