{include file="public/header" /}



<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>{$Think.lang.ds_article}</h3>
                <h5></h5>
            </div>
            {include file="public/admin_items" /}
        </div>
    </div>
    
    <form method="get" name="formSearch" id="formSearch">
        <div class="ds-search-form">
            <dl>
                <dt>{$Think.lang.article_title}</dt>
                <dd><input type="text" value="{$Request.param.search_title}" name="search_title" class="txt"></dd>
            </dl>
            <dl>
                <dt>{$Think.lang.ds_articleclass}</dt>
                <dd>
                    <select name="search_ac_id">
                        <option value="">{$Think.lang.ds_please_choose}...</option>
                        {foreach name="parent_list" item="v" key="k"}
                        <option value="{$v.ac_id}" {if condition="$Request.param.search_ac_id eq $v.ac_id"}selected{/if}>{$v.ac_name}</option>
                        {/foreach}
                    </select>
                </dd>
            </dl>
            <div class="btn_group">
                <input type="submit" class="btn" value="{$Think.lang.ds_search}">
                {if $filtered}
                <a href="{:url('Article/index')}" class="btn btn-default" title="{$Think.lang.ds_cancel}">{$Think.lang.ds_cancel}</a>
                {/if}
            </div>
        </div>
    </form>
    
    <table class="ds-default-table">
        <thead>
            <tr>
                <th>{$Think.lang.article_sort}</th>
                <th>{$Think.lang.article_title}</th>
                <th>{$Think.lang.article_cate}</th>
                <th>{$Think.lang.article_show}</th>
                <th>{$Think.lang.article_time}</th>
                <th>{$Think.lang.ds_handle}</th>
            </tr>
        </thead>
        <tbody>
            {notempty name="article_list"}
            {foreach name="article_list" item="article"}
            <tr id="ds_row_{$article.article_id}">
                <td>{$article.article_sort}</td>
                <td>{$article.article_title}</td>
                <td>{$article.ac_name|default=''}</td>
                <td>{if $article.article_show eq '1'}{$Think.lang.ds_yes}{else}{$Think.lang.ds_no}{/if}</td>
                <td>{$article.article_time}</td>
                <td>
                    <a href="{:url('Article/edit',['article_id'=>$article.article_id])}" class="dsui-btn-edit"><i class="iconfont"></i>{$Think.lang.ds_edit}</a>
                    <a href="javascript:dsLayerConfirm('{:url('Article/drop',['article_id'=>$article.article_id])}','{$Think.lang.ds_ensure_del}',{$article.article_id})"  class="dsui-btn-del"><i class="iconfont"></i>{$Think.lang.ds_del}</a>
                </td>
            </tr>
            {/foreach}
            {else /}
            <tr class="no_data">
                <td colspan="10">{$Think.lang.ds_no_record}</td>
            </tr>
            {/notempty}
        </tbody>
    </table>
    {$show_page}
</div>