{include file="public/header" /}


<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>上传设置</h3>
                <h5></h5>
            </div>
            {include file="public/admin_items" /}
        </div>
    </div>

    <form method="post" enctype="multipart/form-data" name="form1" action="">
        <div class="ncap-form-default">
            <dl>
                <dt>{$Think.lang.default_goods_image}</dt>
                <dd>
                    <span class="type-file-show"><img class="show_image" src="{$Think.ADMIN_SITE_ROOT}/images/preview.png">
                        <div class="type-file-preview"><img src="{$Think.UPLOAD_SITE_URL}/{$Think.ATTACH_COMMON}/{$list_config.default_goods_image}"></div>
                    </span>
                    <span class="type-file-box"><input type='text' name='textfield' id='textfield1' class='type-file-text' /><input type='button' name='button' id='button1' value='' class='type-file-button' />
                        <input name="default_goods_image" type="file" class="type-file-file" id="default_goods_image" size="30" hidefocus="true" ds_type="change_default_goods_image">
                    </span>
                    <p class="notic">建议上传图片像素为 300px X 300px</p>
                </dd>
            </dl>
            
            <dl>
                <dt>{$Think.lang.default_store_logo}</dt>
                <dd>
                    <span class="type-file-show"><img class="show_image" src="{$Think.ADMIN_SITE_ROOT}/images/preview.png">
                        <div class="type-file-preview"><img src="{$Think.UPLOAD_SITE_URL}/{$Think.ATTACH_COMMON}//{$list_config.default_store_logo}"></div>
                    </span>
                    <span class="type-file-box"><input type='text' name='textfield' id='textfield2' class='type-file-text' /><input type='button' name='button' id='button1' value='' class='type-file-button' />
                        <input name="default_store_logo" type="file" class="type-file-file" id="default_store_logo" size="30" hidefocus="true" ds_type="change_default_store_logo">
                    </span>
                    <p class="notic">建议上传图片像素为 200px X 200px</p>
                </dd>
            </dl>
            
            <dl>
                <dt>{$Think.lang.default_store_avatar}</dt>
                <dd>
                    <span class="type-file-show"><img class="show_image" src="{$Think.ADMIN_SITE_ROOT}/images/preview.png">
                        <div class="type-file-preview"><img src="{$Think.UPLOAD_SITE_URL}/{$Think.ATTACH_COMMON}//{$list_config.default_store_avatar}"></div>
                    </span>
                    <span class="type-file-box"><input type='text' name='textfield' id='textfield3' class='type-file-text' /><input type='button' name='button' id='button1' value='' class='type-file-button' />
                        <input name="default_store_avatar" type="file" class="type-file-file" id="default_store_avatar" size="30" hidefocus="true" ds_type="change_default_store_avatar">
                    </span>
                    <p class="notic">100px * 100px</p>
                </dd>
            </dl>
            
            <dl>
                <dt>{$Think.lang.default_user_portrait}</dt>
                <dd>
                    <span class="type-file-show"><img class="show_image" src="{$Think.ADMIN_SITE_ROOT}/images/preview.png">
                        <div class="type-file-preview"><img src="{$Think.UPLOAD_SITE_URL}/{$Think.ATTACH_COMMON}/{$list_config.default_user_portrait}"></div>
                    </span>
                    <span class="type-file-box"><input type='text' name='textfield' id='textfield4' class='type-file-text' /><input type='button' name='button' id='button1' value='' class='type-file-button' />
                        <input name="default_user_portrait" type="file" class="type-file-file" id="default_user_portrait" size="30" hidefocus="true" ds_type="change_default_user_portrait">
                    </span>
                    <p class="notic">128px * 128px</p>
                </dd>
            </dl>
            <dl>
                <dt></dt>
                <dd><a href="JavaScript:void(0);" class="btn" onclick="document.form1.submit()">确认提交</a></dd>
            </dl>
        </div>
        

    </form>




</div>
<script>
    $(function(){
        $("#default_goods_image").change(function () {
            $("#textfield1").val($("#default_goods_image").val());
        });
        $("#default_store_logo").change(function () {
            $("#textfield2").val($("#default_store_logo").val());
        });
        $("#default_store_avatar").change(function () {
            $("#textfield3").val($("#default_store_avatar").val());
        });
        $("#default_user_portrait").change(function () {
            $("#textfield4").val($("#default_user_portrait").val());
        });

       
    })
</script>