{include file="public/header" /}


<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>优惠套装</h3>
                <h5></h5>
            </div>
            {include file="public/admin_items" /}
        </div>
    </div>


    <form method="get" name="formSearch">
        <div class="ds-search-form">
            <dl>
                <dt>{$Think.lang.bundling_quota_store_name}</dt>
                <dd><input type="text" value="{$Request.get.store_name}" name="store_name" id="store_name" class="txt" style="width:100px;"></dd>
            </dl>
            <dl>
                <dt>{$Think.lang.ds_state}</dt>
                <dd>
                    <select name="state">
                        <option>{$Think.lang.bundling_state_all}</option>
                        <option {eq name="Request.get.state" value="1" }selected="selected"{/eq}>{$Think.lang.bundling_state_1}</option>
                        <option {eq name="Request.get.state" value="0" }selected="selected"{/eq}>{$Think.lang.bundling_state_0}</option>
                    </select>
                </dd>
            </dl>
            <div class="btn_group">
                <a href="javascript:document.formSearch.submit();" class="btn " title="{$Think.lang.ds_query}">{$Think.lang.ds_query}</a>
                <a href="{:url('Promotionbundling/bundling_quota')}" class="btn btn-default" title="{$Think.lang.ds_cancel}">{$Think.lang.ds_cancel}</a>
            </div>
        </div>
   </form>
    <!-- 帮助 -->
    <div class="explanation" id="explanation">
        <div class="title" id="checkZoom">
            <h4 title="{$Think.lang.ds_explanation_tip}">{$Think.lang.ds_explanation}</h4>
            <span id="explanationZoom" title="{$Think.lang.ds_explanation_close}" class="arrow"></span>
        </div>
        <ul>
            <li>{$Think.lang.bundling_quota_list_prompts}</li>
        </ul>
    </div>
    
    <!-- 列表 -->
    <form id="list_form" method="post">
        <table class="ds-default-table">
            <thead>
            <tr class="thead">
                <th>{$Think.lang.bundling_quota_store_name}</th>
                <th class="align-center">{$Think.lang.bundling_quota_quantity}</th>
                <th class="align-center">{$Think.lang.bundling_quota_starttime}</th>
                <th class="align-center">{$Think.lang.bundling_quota_endtime}</th>
                <th class="align-center">{$Think.lang.ds_status}</th>
            </tr>
            </thead>
            <tbody id="treet1">
            {notempty name="bundlingquota_list"}
            {foreach name="bundlingquota_list" item="val"}
            <tr class="hover">
                <td class="align-left"><a href="{:url('home/Store/index',['store_id'=>$val.store_id])}" ><span>{$val.store_name}</span></a></td>
                <td class="align-center">{$val.blquota_month}</td>
                <td class="align-center">{$val.blquota_starttime|date="Y-m-d",###}</td>
                <td class="align-center">{$val.blquota_endtime|date="Y-m-d",###}</td>
                <td class="align-center">
                    {$state_array[$val.blquota_state]}
                </td>
            </tr>
            {/foreach}
            {else /}
            <tr class="no_data">
                <td colspan="16">{$Think.lang.ds_no_record}</td>
            </tr>
            {/notempty}
            </tbody>
        </table>
        {$show_page}
    </form>
</div>