<!--{include(pe_tpl('header.html'));}-->
<div class="huiyuan_content">
	<!--{include(pe_tpl('user_menu.html'));}-->
	<div class="fr huiyuan_main">
		<div class="hy_tt">
			<a href="javascript:;" class="sel">{$menutitle}<span>({$tongji['all']})</span><i></i></a>
		</div>
		<div class="hy_tablelist">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<th width="130">交易日期</th>
				<th width="150">交易金额(元)</th>
				<th width="150">结余</th>
				<th>说明</th>
			</tr>
			<!--{foreach($info_list as $v):}-->
			<tr>
				<td>{pe_date_color(pe_date($v['moneylog_atime']))}</td>
				<td>
					<!--{if($v['moneylog_in']>0):}-->
					<span class="cgreen">+{$v['moneylog_in']}</span>
					<!--{else:}-->
					<span class="c999">-{$v['moneylog_out']}</span>
					<!--{endif;}-->
				</td>
				<td><span class="c666">{$v['moneylog_now']}</span></td>
				<td class="aleft">{$v['moneylog_text'] ? $v['moneylog_text'] : $ini['moneylog_type'][$v['moneylog_type']]}</td>
			</tr>
			<!--{endforeach;}-->
			</table>
		</div>
		<div class="fenye mat10">{$db->page->html}</div>
	</div>
	<div class="clear"></div>
</div>
<!--{include(pe_tpl('footer.html'));}-->