<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$seo['title']}</title>
<meta name="viewport" content="width=1200" />
<meta name="keywords" content="{$seo['keywords']}" />
<meta name="description" content="{$seo['description']}" />
<meta name="viewport" content="width=1200" />
<link rel="shortcut icon" type="image/ico" href="{$pe['host_root']}favicon.ico">
<link type="text/css" rel="stylesheet" href="{$pe['host_tpl']}css/style.css" />
<script type="text/javascript" src="{$pe['host_root']}include/js/jquery.js"></script>
<script type="text/javascript" src="{$pe['host_root']}include/js/global.js"></script>
<script type="text/javascript" src="{$pe['host_root']}include/plugin/layer/layer.js"></script>
</head>
<body style="background:#fff;padding:10px">
<form method="post" id="form" autocomplete="off">
<div class="hy_tablelist" style="margin-top:0;">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
	<th width="300">商品详情</th>
	<th width="360">评价内容</th>
	<th></th>
</tr>
<!--{foreach($info_list as $v):}-->
<tr>
	<td>
		<a href="{pe_url('product-'.$v['product_id'])}" class="dingdan_img" target="_blank"><img src="{pe_thumb($v['product_logo'], 100, 100)}" style="width:100px;height:100px"></a>
		<p class="mat20"><a href="{pe_url('product-'.$v['product_id'])}" target="_blank" class="cblue">{pe_cut($v['product_name'], 18, '..')}</a></p>
	</td>
	<td valign="top">		
		<textarea name="comment_text[{$v['orderdata_id']}]" style="width:348px;height:96px" placeholder="请填写评价内容"></textarea>
		<div class="mat20">
			<span class="fl">综合评分：</span>
			<span id="star_{$v['orderdata_id']}" class="fr" style="margin-left:40px"></span>
			<!--<span id="comment_star_show_{$v['product_id']}" class="fl mal10 corg"></span>-->
			<input type="hidden" id="comment_star_{$v['orderdata_id']}" name="comment_star[{$v['orderdata_id']}]" value="5" />
			<div class="clear"></div>
		</div>
	</td>
	<td></td>
</tr>
<!--{endforeach;}-->
</table>
</div>
<div class="mat20" style="text-align:center;">
	<input type="hidden" name="pesubmit" />
	<input type="hidden" name="pe_token" value="{$pe_token}" />
	<input type="button" value="提 交" class="tjbtn" />		
</div>
</form>
<script type="text/javascript" src="{$pe['host_root']}include/plugin/raty/jquery.raty.js"></script>
<script type="text/javascript" src="{$pe['host_root']}include/js/formcheck.js"></script>
<script type="text/javascript">
$(function() {
	<!--{foreach($info_list as $v):}-->
	$("#star_{$v['orderdata_id']}").raty({
		path:"{$pe['host_root']}include/plugin/raty/images",
		hints: ['很差', '较差', '一般', '满意', '很满意'],
		score: 5,
		//target: "#comment_star_show_{$v['product_id']}",
		//targetKeep : true,
		click: function (score, evt) {
			$("#comment_star_{$v['orderdata_id']}").val(score);
		}
	});
	<!--{endforeach;}-->
	$(":button").click(function(){
		pe_submit('{pe_nowurl()}', function(json){
			if (json.result) pe_open('dialog', 1000);
		})
	})
})
</script>
<style type="text/css">
.hy_tablelist td{padding:20px 8px; border-bottom:1px dashed #eaeaea}
</style>
</body>
</html>